infra/aws/earthquake-runner/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: Sonari earthquake oracle on AWS Lambda, Step Functions, and EC2 Nitro Enclaves with zero idle EC2 capacity.

Parameters:
  VpcId:
    Type: AWS::EC2::VPC::Id
  SubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
  RunnerTokenSecretArn:
    Type: String
  TeeSigningKeySecretArn:
    Type: String
  WalrusConfigSecretArn:
    Type: String
  SuiWalletConfigSecretArn:
    Type: String
    Description: Secrets Manager ARN containing the Sui wallet client config for Walrus writes.
  SuiKeystoreSecretArn:
    Type: String
    Description: Secrets Manager ARN containing the Sui keystore file referenced by the wallet config.
  NitroEnclaveProcessCommand:
    Type: String
    Default: /opt/sonari/tee-artifact/bin/tee production
    Description: Command that reads WorkerToTeeRequest JSON from stdin and writes TeeCoreResult JSON to stdout.
  WalrusAggregatorUrl:
    Type: String
    Description: Walrus aggregator URL used by the production TEE process.
  TeeArtifactS3Bucket:
    Type: String
    Description: S3 bucket containing the development TEE artifact tar.gz.
  TeeArtifactS3Key:
    Type: String
    Description: S3 object key for the development TEE artifact tar.gz.
  TeeArtifactSha256:
    Type: String
    Description: SHA-256 hex digest for the development TEE artifact tar.gz.
  InstanceType:
    Type: String
    Default: m6i.xlarge
  AmiId:
    Type: AWS::EC2::Image::Id
  LambdaCodeS3Bucket:
    Type: String
  LambdaCodeS3Key:
    Type: String
  ScheduleExpression:
    Type: String
    Default: rate(5 minutes)
  ScheduleState:
    Type: String
    Default: DISABLED
    AllowedValues:
      - ENABLED
      - DISABLED
    Description: Keep DISABLED for first deploys; enable after manual workflow verification succeeds.
  LogsRetentionDays:
    Type: Number
    Default: 30
  ResultRetentionDays:
    Type: Number
    Default: 7

Resources:
  EventsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: source_event_id
          AttributeType: S
      KeySchema:
        - AttributeName: source_event_id
          KeyType: HASH

  RunnerResultBucket:
    Type: AWS::S3::Bucket
    Properties:
      LifecycleConfiguration:
        Rules:
          - Id: DeleteRunnerResults
            Status: Enabled
            ExpirationInDays: !Ref ResultRetentionDays
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  RunnerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /sonari/earthquake-runner/${AWS::StackName}
      RetentionInDays: !Ref LogsRetentionDays

  RunnerRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore
        - arn:aws:iam::aws:policy/CloudWatchAgentServerPolicy
      Policies:
        - PolicyName: ReadRunnerSecretsAndWriteResults
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource:
                  - !Ref RunnerTokenSecretArn
                  - !Ref TeeSigningKeySecretArn
                  - !Ref WalrusConfigSecretArn
                  - !Ref SuiWalletConfigSecretArn
                  - !Ref SuiKeystoreSecretArn
              - Effect: Allow
                Action:
                  - s3:PutObject
                Resource: !Sub ${RunnerResultBucket.Arn}/results/*
              - Effect: Allow
                Action: s3:GetObject
                Resource: !Sub arn:${AWS::Partition}:s3:::${TeeArtifactS3Bucket}/${TeeArtifactS3Key}

  RunnerInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Roles:
        - !Ref RunnerRole

  InstanceSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Sonari earthquake runner instance with SSM-only control plane
      VpcId: !Ref VpcId
      SecurityGroupEgress:
        - IpProtocol: -1
          CidrIp: 0.0.0.0/0

  RunnerLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        ImageId: !Ref AmiId
        InstanceType: !Ref InstanceType
        IamInstanceProfile:
          Arn: !GetAtt RunnerInstanceProfile.Arn
        SecurityGroupIds:
          - !Ref InstanceSecurityGroup
        EnclaveOptions:
          Enabled: true
        MetadataOptions:
          HttpTokens: required
          HttpEndpoint: enabled
        UserData:
          Fn::Base64: !Sub |
            #!/bin/bash
            set -euo pipefail
            dnf install -y awscli amazon-ssm-agent git nodejs npm libstdc++ aws-nitro-enclaves-cli aws-nitro-enclaves-cli-devel || yum install -y awscli amazon-ssm-agent git nodejs npm libstdc++ aws-nitro-enclaves-cli
            systemctl enable --now amazon-ssm-agent || true
            usermod -aG ne ec2-user || true
            systemctl enable --now nitro-enclaves-allocator.service || true
            mkdir -p /opt/sonari
            tee_artifact_archive=/tmp/sonari-tee-artifact.tar.gz
            aws s3 cp 's3://${TeeArtifactS3Bucket}/${TeeArtifactS3Key}' "$tee_artifact_archive"
            printf '%s  %s\n' '${TeeArtifactSha256}' "$tee_artifact_archive" | sha256sum -c -
            rm -rf /opt/sonari/tee-artifact
            mkdir -p /opt/sonari/tee-artifact
            tar -xzf "$tee_artifact_archive" -C /opt/sonari/tee-artifact
            test -x /opt/sonari/tee-artifact/bin/tee
            test -x /opt/sonari/tee-artifact/bin/walrus
            chown -R ec2-user:ec2-user /opt/sonari/tee-artifact
            chmod -R u=rwX,go-rwx /opt/sonari/tee-artifact
            rm -f "$tee_artifact_archive"
            aws secretsmanager get-secret-value --secret-id '${RunnerTokenSecretArn}' --query SecretString --output text > /opt/sonari/runner-token
            aws secretsmanager get-secret-value --secret-id '${TeeSigningKeySecretArn}' --query SecretString --output text > /opt/sonari/tee-signing-key
            aws secretsmanager get-secret-value --secret-id '${WalrusConfigSecretArn}' --query SecretString --output text > /opt/sonari/walrus-client-config.yaml
            aws secretsmanager get-secret-value --secret-id '${SuiWalletConfigSecretArn}' --query SecretString --output text > /opt/sonari/sui_config.yaml
            aws secretsmanager get-secret-value --secret-id '${SuiKeystoreSecretArn}' --query SecretString --output text > /opt/sonari/sui.keystore
            chown ec2-user:ec2-user /opt/sonari/runner-token /opt/sonari/tee-signing-key /opt/sonari/walrus-client-config.yaml /opt/sonari/sui_config.yaml /opt/sonari/sui.keystore
            chmod 0400 /opt/sonari/runner-token /opt/sonari/tee-signing-key /opt/sonari/walrus-client-config.yaml /opt/sonari/sui_config.yaml /opt/sonari/sui.keystore
            nitro_enclave_process_command=$(cat <<'SONARI_COMMAND'
            ${NitroEnclaveProcessCommand}
            SONARI_COMMAND
            )
            walrus_aggregator_url=$(cat <<'SONARI_WALRUS_URL'
            ${WalrusAggregatorUrl}
            SONARI_WALRUS_URL
            )
            {
              echo "RUNNER_TOKEN_FILE=/opt/sonari/runner-token"
              echo "SONARI_TEE_SIGNING_KEY_SEED_FILE=/opt/sonari/tee-signing-key"
              echo "SONARI_WALRUS_CLI=/opt/sonari/tee-artifact/bin/walrus"
              echo "SONARI_WALRUS_CONFIG=/opt/sonari/walrus-client-config.yaml"
              echo "SONARI_WALRUS_WALLET=/opt/sonari/sui_config.yaml"
              echo "SONARI_WALRUS_CONTEXT=testnet"
              echo "SONARI_WALRUS_EPOCHS=2"
              printf 'NITRO_ENCLAVE_PROCESS_COMMAND=%q\n' "$nitro_enclave_process_command"
              printf 'SONARI_WALRUS_AGGREGATOR_URL=%q\n' "$walrus_aggregator_url"
            } >/opt/sonari/runner.env
            chown ec2-user:ec2-user /opt/sonari/runner.env
            chmod 0400 /opt/sonari/runner.env
            systemctl is-active --quiet nitro-enclaves-allocator.service
            touch /opt/sonari/bootstrap-complete

  RunnerAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      VPCZoneIdentifier: !Ref SubnetIds
      MinSize: "0"
      MaxSize: "1"
      DesiredCapacity: "0"
      LaunchTemplate:
        LaunchTemplateId: !Ref RunnerLaunchTemplate
        Version: !GetAtt RunnerLaunchTemplate.LatestVersionNumber

  WatcherLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: WatcherStateAndWorkflow
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:DeleteItem
                  - dynamodb:Query
                  - dynamodb:Scan
                  - dynamodb:TransactWriteItems
                Resource: !GetAtt EventsTable.Arn
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Ref RunnerStateMachine
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource: !Ref RunnerTokenSecretArn

  RunnerControlLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ControlRunnerAndState
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - autoscaling:SetDesiredCapacity
                  - autoscaling:DescribeAutoScalingGroups
                Resource: "*"
              - Effect: Allow
                Action:
                  - ec2:DescribeInstances
                  - ssm:SendCommand
                  - ssm:GetCommandInvocation
                  - ssm:DescribeInstanceInformation
                Resource: "*"
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource: !Sub ${RunnerResultBucket.Arn}/results/*
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:DeleteItem
                Resource: !GetAtt EventsTable.Arn

  RunnerStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeRunnerControl
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt RunnerControlLambda.Arn

  WatcherScheduleRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeWatcherLambda
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt WatcherLambda.Arn

  WatcherLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/lambda.scheduledHandler
      Role: !GetAtt WatcherLambdaRole.Arn
      Timeout: 60
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          EVENTS_TABLE_NAME: !Ref EventsTable
          RUNNER_STATE_MACHINE_ARN: !Ref RunnerStateMachine
          RUNNER_TOKEN_SECRET_ARN: !Ref RunnerTokenSecretArn

  ManualWatcherLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/lambda.manualHandler
      Role: !GetAtt WatcherLambdaRole.Arn
      Timeout: 30
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          EVENTS_TABLE_NAME: !Ref EventsTable
          RUNNER_STATE_MACHINE_ARN: !Ref RunnerStateMachine
          RUNNER_TOKEN_SECRET_ARN: !Ref RunnerTokenSecretArn

  ManualWatcherFunctionUrl:
    Type: AWS::Lambda::Url
    Properties:
      AuthType: NONE
      TargetFunctionArn: !Ref ManualWatcherLambda

  ManualWatcherFunctionUrlPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunctionUrl
      FunctionName: !Ref ManualWatcherLambda
      Principal: "*"
      FunctionUrlAuthType: NONE

  RunnerControlLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/runner_workflow.handler
      Role: !GetAtt RunnerControlLambdaRole.Arn
      Timeout: 60
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          EVENTS_TABLE_NAME: !Ref EventsTable
          RUNNER_ASG_NAME: !Ref RunnerAutoScalingGroup
          RESULT_BUCKET: !Ref RunnerResultBucket
          NITRO_ENCLAVE_PROCESS_COMMAND: !Ref NitroEnclaveProcessCommand

  RunnerStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt RunnerStateMachineRole.Arn
      StateMachineType: STANDARD
      DefinitionString: !Sub |
        {
          "Comment": "Run Sonari earthquake verifier on ephemeral EC2 Nitro Enclave capacity.",
          "StartAt": "StartInstance",
          "States": {
            "StartInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "start_instance", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt" },
              "Next": "WaitForInstance",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "WaitForInstance": { "Type": "Wait", "Seconds": 60, "Next": "FindReadyInstance" },
            "FindReadyInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "find_ready_instance", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt" },
              "Next": "DispatchTeeCommand",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 20, "BackoffRate": 1.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "DispatchTeeCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "dispatch_tee_command", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id" },
              "ResultSelector": { "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "command_id.$": "$.command_id", "result_s3_key.$": "$.result_s3_key", "command_poll_count": 0 },
              "Next": "WaitForCommand",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "WaitForCommand": { "Type": "Wait", "Seconds": 30, "Next": "PollCommand" },
            "PollCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "poll_command", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "command_id.$": "$.command_id", "result_s3_key.$": "$.result_s3_key", "command_poll_count.$": "$.command_poll_count" },
              "Next": "CommandComplete",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "CommandComplete": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.command_status", "StringEquals": "SUCCEEDED", "Next": "ReadResult" },
                { "Variable": "$.command_status", "StringEquals": "FAILED", "Next": "MarkFailed" },
                { "Variable": "$.command_poll_count", "NumericGreaterThanEquals": 60, "Next": "MarkCommandPollingTimedOut" }
              ],
              "Default": "WaitForCommand"
            },
            "ReadResult": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "read_result", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key" },
              "Next": "ApplyResult",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "ApplyResult": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "apply_result", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "result.$": "$.result" },
              "Next": "RelayerPreviewOrDryRun",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "RelayerPreviewOrDryRun": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "relayer_preview_or_dry_run", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "result.$": "$.result" },
              "Next": "StopInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "StopInstance" }]
            },
            "MarkFailed": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "mark_failed", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt" },
              "Next": "StopInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "StopInstance" }]
            },
            "MarkCommandPollingTimedOut": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "mark_failed", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "error_code": "AWS_RUNNER_TIMEOUT", "message": "SSM command polling exceeded 30 minutes" },
              "Next": "StopInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "StopInstance" }]
            },
            "StopInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "stop_instance", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt" },
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 8, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.stop_error", "Next": "StopInstanceFailed" }],
              "End": true
            },
            "StopInstanceFailed": {
              "Type": "Fail",
              "Error": "StopInstanceFailed",
              "Cause": "Runner cleanup failed after retrying StopInstance"
            }
          }
        }

  WatcherSchedule:
    Type: AWS::Scheduler::Schedule
    Properties:
      ScheduleExpression: !Ref ScheduleExpression
      State: !Ref ScheduleState
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !GetAtt WatcherLambda.Arn
        RoleArn: !GetAtt WatcherScheduleRole.Arn

Outputs:
  EventsTableName:
    Value: !Ref EventsTable
  RunnerResultBucketName:
    Value: !Ref RunnerResultBucket
  RunnerStateMachineArn:
    Value: !Ref RunnerStateMachine
  ManualWatcherUrl:
    Value: !GetAtt ManualWatcherFunctionUrl.FunctionUrl
  RunnerLogGroupName:
    Value: !Ref RunnerLogGroup
