infra/aws/membership-identity-runner/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: Sonari membership identity verifier on AWS Lambda, Step Functions, and EC2 Nitro Enclaves with zero idle EC2 capacity.

Parameters:
  VpcId:
    Type: AWS::EC2::VPC::Id
  SubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
  InstanceType:
    Type: String
    Default: m6i.xlarge
  AmiId:
    Type: AWS::EC2::Image::Id
  LambdaCodeS3Bucket:
    Type: String
  LambdaCodeS3Key:
    Type: String
  TeeArtifactS3Bucket:
    Type: String
    Description: S3 bucket containing the membership identity TEE artifact tar.gz.
  TeeArtifactS3Key:
    Type: String
    Description: S3 object key for the membership identity TEE artifact tar.gz.
  TeeArtifactSha256:
    Type: String
    Description: SHA-256 hex digest for the membership identity TEE artifact tar.gz.
  TeeEifS3Bucket:
    Type: String
    Description: S3 bucket containing the membership identity Nitro Enclave EIF.
  TeeEifS3Key:
    Type: String
    Description: S3 object key for the membership identity Nitro Enclave EIF.
  TeeEifSha256:
    Type: String
    Description: SHA-256 hex digest for the membership identity Nitro Enclave EIF.
  NitroEnclaveCpuCount:
    Type: Number
    Default: 2
  NitroEnclaveMemoryMiB:
    Type: Number
    Default: 1024
  NitroEnclaveCid:
    Type: Number
    Default: 16
  SigningSeedCiphertextS3Bucket:
    Type: String
    Description: S3 bucket containing the encrypted signing seed ciphertext.
  SigningSeedCiphertextS3Key:
    Type: String
    Description: S3 object key for the encrypted signing seed ciphertext. The plaintext seed is never injected into Lambda or the EC2 host.
  NitroEnclaveImageSha384:
    Type: String
    AllowedPattern: "^[0-9a-fA-F]{96}$"
    Description: Nitro Enclave ImageSha384 measurement allowed to decrypt signing material with KMS Recipient attestation.
  NitroEnclavePcr3:
    Type: String
    AllowedPattern: "^[0-9a-fA-F]{96}$"
    Description: Nitro Enclave PCR3 measurement allowed to decrypt signing material with KMS Recipient attestation.
  NitroEnclaveProcessCommand:
    Type: String
    Default: /opt/sonari/bin/run-membership-identity-enclave
    Description: Host wrapper that bridges stdin/stdout to the membership identity Nitro Enclave.
  WorldIdAppId:
    Type: String
    Description: World ID app id passed as runtime configuration to the enclave process.
  WorldIdApiBase:
    Type: String
    Default: https://developer.world.org
    Description: World ID API base URL passed as runtime configuration to the enclave process.
  ScheduleExpression:
    Type: String
    Default: rate(1 minute)
  ScheduleState:
    Type: String
    Default: DISABLED
    AllowedValues:
      - ENABLED
      - DISABLED
    Description: Keep DISABLED until SubmitVerification and BatchVerifier are verified in the target account.
  LogsRetentionDays:
    Type: Number
    Default: 30
  ResultRetentionDays:
    Type: Number
    Default: 7
  GitCommitSha:
    Type: String
    Default: unknown
    Description: Git commit SHA deployed by this stack update.

Resources:
  VerificationJobsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${AWS::StackName}-verification_jobs
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: job_id
          AttributeType: S
      KeySchema:
        - AttributeName: job_id
          KeyType: HASH

  RunnerResultBucket:
    Type: AWS::S3::Bucket
    Properties:
      LifecycleConfiguration:
        Rules:
          - Id: DeleteMembershipRunnerResults
            Status: Enabled
            ExpirationInDays: !Ref ResultRetentionDays
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  RunnerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /sonari/membership-identity-runner/${AWS::StackName}
      RetentionInDays: !Ref LogsRetentionDays

  SigningMaterialKmsKey:
    Type: AWS::KMS::Key
    Properties:
      Description: Sonari membership identity signing material decrypt key gated by Nitro Enclave attestation.
      EnableKeyRotation: true
      KeyPolicy:
        Version: "2012-10-17"
        Statement:
          - Sid: EnableRootAccountAdministration
            Effect: Allow
            Principal:
              AWS: !Sub arn:${AWS::Partition}:iam::${AWS::AccountId}:root
            Action: kms:*
            Resource: "*"
          - Sid: DenyUnattestedSigningMaterialDecrypt
            Effect: Deny
            Principal: "*"
            Action: kms:Decrypt
            Resource: "*"
            Condition:
              Null:
                kms:RecipientAttestation:ImageSha384: "true"
          - Sid: DenyWrongSigningMaterialImage
            Effect: Deny
            Principal: "*"
            Action: kms:Decrypt
            Resource: "*"
            Condition:
              StringNotEquals:
                kms:RecipientAttestation:ImageSha384: !Ref NitroEnclaveImageSha384
          - Sid: DenyWrongSigningMaterialPcr3
            Effect: Deny
            Principal: "*"
            Action: kms:Decrypt
            Resource: "*"
            Condition:
              StringNotEquals:
                kms:RecipientAttestation:PCR3: !Ref NitroEnclavePcr3
          - Sid: AllowNitroAttestedSigningMaterialDecrypt
            Effect: Allow
            Principal:
              AWS: !Sub arn:${AWS::Partition}:iam::${AWS::AccountId}:root
            Action: kms:Decrypt
            Resource: "*"
            Condition:
              StringEquals:
                kms:CallerAccount: !Ref AWS::AccountId
                kms:RecipientAttestation:ImageSha384: !Ref NitroEnclaveImageSha384
                kms:RecipientAttestation:PCR3: !Ref NitroEnclavePcr3

  SigningMaterialKmsAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub alias/sonari-membership-identity-${AWS::StackName}
      TargetKeyId: !Ref SigningMaterialKmsKey

  RunnerRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore
        - arn:aws:iam::aws:policy/CloudWatchAgentServerPolicy
      Policies:
        - PolicyName: ReadEncryptedInputsAndWriteResults
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: s3:GetObject
                Resource: !Sub arn:${AWS::Partition}:s3:::${TeeArtifactS3Bucket}/${TeeArtifactS3Key}
              - Effect: Allow
                Action: s3:GetObject
                Resource: !Sub arn:${AWS::Partition}:s3:::${TeeEifS3Bucket}/${TeeEifS3Key}
              - Effect: Allow
                Action: s3:GetObject
                Resource: !Sub arn:${AWS::Partition}:s3:::${SigningSeedCiphertextS3Bucket}/${SigningSeedCiphertextS3Key}
              - Effect: Allow
                Action: s3:PutObject
                Resource: !Sub ${RunnerResultBucket.Arn}/results/*
              - Effect: Allow
                Action: kms:Decrypt
                Resource: !GetAtt SigningMaterialKmsKey.Arn
                Condition:
                  StringEquals:
                    kms:RecipientAttestation:ImageSha384: !Ref NitroEnclaveImageSha384
                    kms:RecipientAttestation:PCR3: !Ref NitroEnclavePcr3

  RunnerInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Roles:
        - !Ref RunnerRole

  InstanceSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Sonari membership identity runner with SSM-only control plane
      VpcId: !Ref VpcId
      SecurityGroupEgress:
        - IpProtocol: -1
          CidrIp: 0.0.0.0/0

  RunnerLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        ImageId: !Ref AmiId
        InstanceType: !Ref InstanceType
        IamInstanceProfile:
          Arn: !GetAtt RunnerInstanceProfile.Arn
        SecurityGroupIds:
          - !Ref InstanceSecurityGroup
        EnclaveOptions:
          Enabled: true
        MetadataOptions:
          HttpTokens: required
          HttpEndpoint: enabled
        UserData:
          Fn::Base64: !Sub |
            #!/bin/bash
            set -euo pipefail
            dnf install -y awscli amazon-ssm-agent libstdc++ aws-nitro-enclaves-cli aws-nitro-enclaves-cli-devel || yum install -y awscli amazon-ssm-agent libstdc++ aws-nitro-enclaves-cli
            systemctl enable --now amazon-ssm-agent || true
            usermod -aG ne ec2-user || true
            systemctl enable --now nitro-enclaves-allocator.service || true
            mkdir -p /opt/sonari
            mkdir -p /opt/sonari/bin
            tee_artifact_archive=/tmp/sonari-membership-identity-tee-artifact.tar.gz
            aws s3 cp 's3://${TeeArtifactS3Bucket}/${TeeArtifactS3Key}' "$tee_artifact_archive"
            printf '%s  %s\n' '${TeeArtifactSha256}' "$tee_artifact_archive" | sha256sum -c -
            rm -rf /opt/sonari/tee-artifact
            mkdir -p /opt/sonari/tee-artifact
            tar -xzf "$tee_artifact_archive" -C /opt/sonari/tee-artifact
            test -x /opt/sonari/tee-artifact/bin/membership-tee
            rm -f "$tee_artifact_archive"
            tee_eif=/opt/sonari/membership-identity-tee.eif
            aws s3 cp 's3://${TeeEifS3Bucket}/${TeeEifS3Key}' "$tee_eif"
            printf '%s  %s\n' '${TeeEifSha256}' "$tee_eif" | sha256sum -c -
            aws s3 cp 's3://${SigningSeedCiphertextS3Bucket}/${SigningSeedCiphertextS3Key}' /opt/sonari/signing-seed.ciphertext
            chown -R ec2-user:ec2-user /opt/sonari/tee-artifact
            chmod -R u=rwX,go-rwx /opt/sonari/tee-artifact
            chown ec2-user:ec2-user "$tee_eif"
            chmod 0400 "$tee_eif"
            chown ec2-user:ec2-user /opt/sonari/signing-seed.ciphertext
            chmod 0400 /opt/sonari/signing-seed.ciphertext
            cat >/opt/sonari/bin/run-membership-identity-enclave <<'SONARI_ENCLAVE_WRAPPER'
            #!/bin/bash
            set -euo pipefail
            : "${SONARI_MEMBERSHIP_IDENTITY_EIF_PATH:?SONARI_MEMBERSHIP_IDENTITY_EIF_PATH is required}"
            : "${SONARI_NITRO_RUN_ENCLAVE_ARGS:?SONARI_NITRO_RUN_ENCLAVE_ARGS is required}"
            : "${SONARI_ENCLAVE_STDIO_BRIDGE:?SONARI_ENCLAVE_STDIO_BRIDGE is required}"
            test -s "$SONARI_MEMBERSHIP_IDENTITY_EIF_PATH"
            exec "$SONARI_ENCLAVE_STDIO_BRIDGE" $SONARI_NITRO_RUN_ENCLAVE_ARGS
            SONARI_ENCLAVE_WRAPPER
            chmod 0500 /opt/sonari/bin/run-membership-identity-enclave
            nitro_enclave_process_command=$(cat <<'SONARI_COMMAND'
            ${NitroEnclaveProcessCommand}
            SONARI_COMMAND
            )
            world_id_app_id=$(cat <<'SONARI_WORLD_ID_APP_ID'
            ${WorldIdAppId}
            SONARI_WORLD_ID_APP_ID
            )
            world_id_api_base=$(cat <<'SONARI_WORLD_ID_API_BASE'
            ${WorldIdApiBase}
            SONARI_WORLD_ID_API_BASE
            )
            world_id_api_host="$(printf '%s' "$world_id_api_base" | sed -E 's#^https?://([^/:]+).*#\1#')"
            if [ -z "$world_id_api_host" ] || [ "$world_id_api_host" = "$world_id_api_base" ]; then
              echo "WorldIdApiBase must be an http(s) URL" >&2
              exit 1
            fi
            vsock_proxy_path="$(command -v vsock-proxy)"
            cat >/etc/systemd/system/sonari-world-id-vsock-proxy.service <<SONARI_VSOCK_PROXY
            [Unit]
            Description=Sonari World ID API vsock proxy for membership identity enclave
            After=network-online.target nitro-enclaves-allocator.service
            Wants=network-online.target nitro-enclaves-allocator.service

            [Service]
            Type=simple
            Restart=always
            RestartSec=2
            ExecStart=$vsock_proxy_path 8000 $world_id_api_host 443

            [Install]
            WantedBy=multi-user.target
            SONARI_VSOCK_PROXY
            systemctl daemon-reload
            systemctl enable --now sonari-world-id-vsock-proxy.service
            {
              echo "SONARI_SIGNING_MATERIAL_CIPHERTEXT_FILE=/opt/sonari/signing-seed.ciphertext"
              echo "SONARI_SIGNING_MATERIAL_KMS_KEY_ID=${SigningMaterialKmsKey}"
              echo "SONARI_MEMBERSHIP_IDENTITY_EIF_PATH=$tee_eif"
              echo "SONARI_ENCLAVE_STDIO_BRIDGE=/usr/local/bin/sonari-enclave-stdio"
              echo "SONARI_NITRO_RUN_ENCLAVE_ARGS=--eif-path $tee_eif --cpu-count ${NitroEnclaveCpuCount} --memory ${NitroEnclaveMemoryMiB} --enclave-cid ${NitroEnclaveCid}"
              printf 'SONARI_WORLD_ID_APP_ID=%q\n' "$world_id_app_id"
              printf 'SONARI_WORLD_ID_UPSTREAM_API_BASE=%q\n' "$world_id_api_base"
              echo "SONARI_WORLD_ID_API_BASE=http://127.0.0.1:8000"
              printf 'NITRO_ENCLAVE_PROCESS_COMMAND=%q\n' "$nitro_enclave_process_command"
            } >/opt/sonari/runner.env
            chown ec2-user:ec2-user /opt/sonari/runner.env
            chmod 0400 /opt/sonari/runner.env
            test -x /opt/sonari/bin/run-membership-identity-enclave
            test -x /usr/local/bin/sonari-enclave-stdio
            systemctl is-active --quiet nitro-enclaves-allocator.service
            systemctl is-active --quiet sonari-world-id-vsock-proxy.service
            touch /opt/sonari/bootstrap-complete

  RunnerAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      VPCZoneIdentifier: !Ref SubnetIds
      MinSize: "0"
      MaxSize: "1"
      DesiredCapacity: "0"
      LaunchTemplate:
        LaunchTemplateId: !Ref RunnerLaunchTemplate
        Version: !GetAtt RunnerLaunchTemplate.LatestVersionNumber

  SubmitVerificationLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: WriteVerificationJobs
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                Resource: !GetAtt VerificationJobsTable.Arn

  BatchVerifierLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ClaimVerificationJobsAndStartWorkflow
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:Scan
                  - dynamodb:UpdateItem
                Resource: !GetAtt VerificationJobsTable.Arn
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Ref RunnerStateMachine

  RunnerControlLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ControlMembershipRunner
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - autoscaling:SetDesiredCapacity
                  - autoscaling:DescribeAutoScalingGroups
                Resource: !Sub arn:${AWS::Partition}:autoscaling:${AWS::Region}:${AWS::AccountId}:autoScalingGroup:*:autoScalingGroupName/${RunnerAutoScalingGroup}
              - Effect: Allow
                Action:
                  - ec2:DescribeInstances
                  - ssm:DescribeInstanceInformation
                Resource: "*"
              - Effect: Allow
                Action: ssm:SendCommand
                Resource:
                  - !Sub arn:${AWS::Partition}:ec2:${AWS::Region}:${AWS::AccountId}:instance/*
                  - !Sub arn:${AWS::Partition}:ssm:${AWS::Region}::document/AWS-RunShellScript
              - Effect: Allow
                Action: ssm:GetCommandInvocation
                Resource: "*"
              - Effect: Allow
                Action: s3:GetObject
                Resource: !Sub ${RunnerResultBucket.Arn}/results/*
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:UpdateItem
                Resource: !GetAtt VerificationJobsTable.Arn

  RunnerStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeMembershipRunnerControl
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt RunnerControlLambda.Arn

  BatchScheduleRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeBatchVerifier
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt BatchVerifierLambda.Arn

  SubmitVerificationLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/lambda.submitVerificationHandler
      Role: !GetAtt SubmitVerificationLambdaRole.Arn
      Timeout: 30
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          VERIFICATION_JOBS_TABLE_NAME: !Ref VerificationJobsTable

  BatchVerifierLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/lambda.batchVerifierHandler
      Role: !GetAtt BatchVerifierLambdaRole.Arn
      Timeout: 60
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          VERIFICATION_JOBS_TABLE_NAME: !Ref VerificationJobsTable
          RUNNER_STATE_MACHINE_ARN: !Ref RunnerStateMachine

  RunnerControlLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/runner_workflow.handler
      Role: !GetAtt RunnerControlLambdaRole.Arn
      Timeout: 60
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          VERIFICATION_JOBS_TABLE_NAME: !Ref VerificationJobsTable
          RUNNER_ASG_NAME: !Ref RunnerAutoScalingGroup
          RESULT_BUCKET: !Ref RunnerResultBucket
          NITRO_ENCLAVE_PROCESS_COMMAND: !Ref NitroEnclaveProcessCommand

  RunnerStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt RunnerStateMachineRole.Arn
      StateMachineType: STANDARD
      DefinitionString: !Sub |
        {
          "Comment": "Run Sonari membership identity verifier on ephemeral EC2 Nitro Enclave capacity.",
          "StartAt": "StartInstance",
          "States": {
            "StartInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "start_instance", "job_id.$": "$.job_id", "attempt.$": "$.attempt" },
              "Next": "WaitForInstance",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "WaitForInstance": { "Type": "Wait", "Seconds": 60, "Next": "FindReadyInstance" },
            "FindReadyInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "find_ready_instance", "job_id.$": "$.job_id", "attempt.$": "$.attempt" },
              "Next": "DispatchTeeCommand",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 20, "BackoffRate": 1.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "DispatchTeeCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "dispatch_tee_command", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id" },
              "Next": "WaitForCommand",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "WaitForCommand": { "Type": "Wait", "Seconds": 30, "Next": "PollCommand" },
            "PollCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "poll_command", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "command_id.$": "$.command_id", "result_s3_key.$": "$.result_s3_key", "command_poll_count.$": "$.command_poll_count" },
              "Next": "CommandComplete",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "CommandComplete": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.command_status", "StringEquals": "SUCCEEDED", "Next": "ReadResult" },
                { "Variable": "$.command_status", "StringEquals": "FAILED", "Next": "MarkFailed" },
                { "Variable": "$.command_poll_count", "NumericGreaterThanEquals": 60, "Next": "MarkCommandPollingTimedOut" }
              ],
              "Default": "WaitForCommand"
            },
            "ReadResult": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "read_result", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key" },
              "Next": "ApplyResult",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "ApplyResult": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "apply_result", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "result.$": "$.result" },
              "Next": "StopInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "MarkFailed": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "mark_failed", "job_id.$": "$.job_id", "attempt.$": "$.attempt" },
              "Next": "StopInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "StopInstance" }]
            },
            "MarkCommandPollingTimedOut": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "mark_failed", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "error_code": "AWS_MEMBERSHIP_RUNNER_TIMEOUT", "message": "SSM command polling exceeded 30 minutes" },
              "Next": "StopInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "StopInstance" }]
            },
            "StopInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "action": "stop_instance", "job_id.$": "$.job_id", "attempt.$": "$.attempt" },
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 8, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.stop_error", "Next": "StopInstanceFailed" }],
              "End": true
            },
            "StopInstanceFailed": {
              "Type": "Fail",
              "Error": "StopInstanceFailed",
              "Cause": "Membership identity runner cleanup failed after retrying StopInstance"
            }
          }
        }

  BatchSchedule:
    Type: AWS::Scheduler::Schedule
    Properties:
      ScheduleExpression: !Ref ScheduleExpression
      State: !Ref ScheduleState
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !GetAtt BatchVerifierLambda.Arn
        RoleArn: !GetAtt BatchScheduleRole.Arn

Outputs:
  VerificationJobsTableName:
    Value: !Ref VerificationJobsTable
  RunnerResultBucketName:
    Value: !Ref RunnerResultBucket
  RunnerStateMachineArn:
    Value: !Ref RunnerStateMachine
  RunnerLogGroupName:
    Value: !Ref RunnerLogGroup
  DeployedGitCommitSha:
    Value: !Ref GitCommitSha
  LambdaCodeS3KeyOutput:
    Value: !Ref LambdaCodeS3Key
  TeeArtifactS3KeyOutput:
    Value: !Ref TeeArtifactS3Key
  TeeArtifactSha256Output:
    Value: !Ref TeeArtifactSha256
  TeeEifS3KeyOutput:
    Value: !Ref TeeEifS3Key
  TeeEifSha256Output:
    Value: !Ref TeeEifSha256
  RunnerAutoScalingGroupName:
    Value: !Ref RunnerAutoScalingGroup
  SubmitVerificationLambdaName:
    Value: !Ref SubmitVerificationLambda
  BatchVerifierLambdaName:
    Value: !Ref BatchVerifierLambda
  RunnerControlLambdaName:
    Value: !Ref RunnerControlLambda
  BatchScheduleName:
    Value: !Ref BatchSchedule
  SigningMaterialKmsKeyId:
    Value: !Ref SigningMaterialKmsKey
