infra/aws/sonari-verifier-runner/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: Sonari verifier runner on AWS Lambda, Step Functions, and one shared EC2 Nitro Enclave capacity pool.

Parameters:
  VpcId:
    Type: AWS::EC2::VPC::Id
  SubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
  InstanceType:
    Type: String
    Default: m6i.xlarge
  AmiId:
    Type: AWS::EC2::Image::Id
  LambdaCodeS3Bucket:
    Type: String
  LambdaCodeS3Key:
    Type: String
  GitCommitSha:
    Type: String
    Default: unknown
    Description: Git commit SHA deployed by this stack update.
  ScheduleExpression:
    Type: String
    Default: cron(0 0,12 * * ? *)
  MembershipScheduleExpression:
    Type: String
    Default: rate(1 day)
  ScheduleState:
    Type: String
    Default: DISABLED
    AllowedValues:
      - ENABLED
      - DISABLED
    Description: Keep DISABLED until both verifier workflows are manually verified in the target account.
  LogsRetentionDays:
    Type: Number
    Default: 30
  ResultRetentionDays:
    Type: Number
    Default: 7
  RunnerTokenSecretArn:
    Type: String
  SourceArchiverTokenSecretArn:
    Type: String
    Default: ""
    Description: Secrets Manager ARN containing the runner-only token accepted by the source archiver Function URL.
  SourceArchiverPrivateKeySecretArn:
    Type: String
    Default: ""
    Description: Secrets Manager ARN containing only the raw SourceArchiver ED25519 suiprivkey value. The secret is read only by the source archiver Lambda.
  AffectedProofRegistrarUrl:
    Type: String
    Default: ""
    Description: affected-cells-proof-worker URL used by RunnerControl to register Walrus affected_cells artifacts.
  AffectedProofRegistrarTokenSecretArn:
    Type: String
    Default: ""
    Description: Secrets Manager ARN containing the runner-only token accepted by the affected proof register API.
  SourceArchiverSuiNetwork:
    Type: String
    Default: testnet
    AllowedValues:
      - mainnet
      - testnet
    Description: Sui network used by the SourceArchiver Walrus SDK client.
  SourceArchiverSuiRpcUrl:
    Type: String
    Default: https://fullnode.testnet.sui.io:443
    Description: Sui JSON-RPC URL used by the SourceArchiver Walrus SDK client.
  SourceArchiverWalrusUploadRelayUrl:
    Type: String
    Default: https://upload-relay.testnet.walrus.space
    Description: Walrus upload relay URL used by the SourceArchiver Walrus SDK client.
  SourceArchiverWalrusUploadRelayTipMaxMist:
    Type: Number
    Default: 1000
    Description: Maximum upload relay tip in MIST for SourceArchiver Walrus SDK writes.
  SourceArchiverWalrusEpochs:
    Type: Number
    Default: 1
    Description: Walrus storage epochs passed to the SourceArchiver Walrus SDK write.
  SourceArchiverWalrusDeletable:
    Type: String
    Default: "false"
    AllowedValues:
      - "false"
      - "true"
    Description: Whether SourceArchiver Walrus SDK writes should create deletable blob objects.
  NitroEnclaveProcessCommand:
    Type: String
    Default: /opt/sonari/bin/run-sonari-verifier
    Description: Shared runner command. The packaged handler dispatches by verifier_kind.
  EarthquakeNitroEnclaveProcessCommand:
    Type: String
    Default: /opt/sonari/bin/run-earthquake-enclave
    Description: Earthquake verifier command made available to the shared runner environment.
  MembershipNitroEnclaveProcessCommand:
    Type: String
    Default: /opt/sonari/bin/run-membership-identity-enclave
    Description: Membership identity verifier command made available to the shared runner environment.
  TeeArtifactS3Bucket:
    Type: String
    Description: S3 bucket containing the earthquake TEE artifact tar.gz.
  TeeArtifactS3Key:
    Type: String
    Description: S3 object key for the earthquake TEE artifact tar.gz.
  TeeArtifactSha256:
    Type: String
    Description: SHA-256 hex digest for the earthquake TEE artifact tar.gz.
  EarthquakeTeeEifS3Bucket:
    Type: String
    Description: S3 bucket containing the earthquake Nitro Enclave EIF.
  EarthquakeTeeEifS3Key:
    Type: String
    Description: S3 object key for the earthquake Nitro Enclave EIF.
  EarthquakeTeeEifSha256:
    Type: String
    Description: SHA-256 hex digest for the earthquake Nitro Enclave EIF.
  MembershipTeeArtifactS3Bucket:
    Type: String
    Description: S3 bucket containing the membership identity TEE artifact tar.gz.
  MembershipTeeArtifactS3Key:
    Type: String
    Description: S3 object key for the membership identity TEE artifact tar.gz.
  MembershipTeeArtifactSha256:
    Type: String
    Description: SHA-256 hex digest for the membership identity TEE artifact tar.gz.
  TeeEifS3Bucket:
    Type: String
    Description: S3 bucket containing the membership identity Nitro Enclave EIF.
  TeeEifS3Key:
    Type: String
    Description: S3 object key for the membership identity Nitro Enclave EIF.
  TeeEifSha256:
    Type: String
    Description: SHA-256 hex digest for the membership identity Nitro Enclave EIF.
  NitroEnclaveCpuCount:
    Type: Number
    Default: 2
  NitroEnclaveMemoryMiB:
    Type: Number
    Default: 4096
  NitroEnclaveCid:
    Type: Number
    Default: 16
  SigningSeedCiphertextS3Bucket:
    Type: String
    Description: S3 bucket containing the encrypted membership identity signing seed ciphertext.
  SigningSeedCiphertextS3Key:
    Type: String
    Description: S3 object key for the encrypted membership identity signing seed ciphertext. The plaintext seed is never injected into Lambda or the EC2 host.
  NitroEnclaveImageSha384:
    Type: String
    AllowedPattern: "^[0-9a-fA-F]{96}$"
    Description: Nitro Enclave ImageSha384 measurement allowed to decrypt membership signing material with KMS Recipient attestation.
  NitroEnclavePcr3:
    Type: String
    AllowedPattern: "^[0-9a-fA-F]{96}$"
    Description: Nitro Enclave PCR3 measurement allowed to decrypt membership signing material with KMS Recipient attestation.
  WorldIdAppId:
    Type: String
    Description: World ID app id passed as runtime configuration to the membership identity enclave process.
  WorldIdApiBase:
    Type: String
    Default: https://developer.world.org
    Description: Legacy parameter kept for deploy input compatibility. The membership server path pins the canonical https://developer.world.org base.
  WorldIdAction:
    Type: String
    Default: sonari_membership_register_v2
    AllowedPattern: "^sonari_membership_register_v[0-9]+$"
    Description: World ID action delivered to the membership identity enclave bootstrap.
  WorldIdProofMode:
    Type: String
    Default: real
    AllowedValues:
      - real
      - dummy
    Description: World ID proof verification mode delivered to the membership enclave bootstrap. dummy is only honored on testnet or devnet and must fail closed elsewhere.
  RelayerMode:
    Type: String
    Default: ""
    AllowedValues:
      - ""
      - dry_run
      - submit
    Description: Leave empty to skip the AWS earthquake relayer. Use dry_run or submit for finalized TEE results.
  RelayerNetwork:
    Type: String
    Default: ""
    AllowedValues:
      - ""
      - mainnet
      - testnet
      - devnet
    Description: Sui network for AWS earthquake relayer dry-run or submit.
  RelayerTarget:
    Type: String
    Default: ""
    Description: Move target for the earthquake relayer call. Use <PACKAGE_ID>::accessor::create_disaster_event_and_campaign_from_signed_payload.
  RelayerRegistry:
    Type: String
    Default: ""
    Description: DisasterRegistry object ID used by the earthquake relayer call.
  RelayerVerifierRegistry:
    Type: String
    Default: ""
    Description: VerifierRegistry object ID used by the earthquake relayer call.
  RelayerCategoryRegistry:
    Type: String
    Default: ""
    Description: CategoryRegistry object ID used by the earthquake relayer call.
  RelayerCategoryPool:
    Type: String
    Default: ""
    Description: Earthquake CategoryPool object ID used by the earthquake relayer call.
  RelayerGrpcUrl:
    Type: String
    Default: ""
    Description: Sui gRPC URL for earthquake relayer dry-run or submit.
  RelayerSenderAddress:
    Type: String
    Default: ""
    Description: Sender address used for earthquake relayer dry-run transaction building.
  RelayerSignerSecretArn:
    Type: String
    Default: ""
    Description: Secrets Manager ARN containing the Sui private key for earthquake relayer submit.
  FloorCensusMode:
    Type: String
    Default: disabled
    AllowedValues: [disabled, submit]
    Description: Enable floor census submission after successful earthquake relayer submit.
  FloorCensusTarget:
    Type: String
    Default: ""
    Description: Move target for floor census submission. Use <PACKAGE_ID>::accessor::set_floor_census.
  FloorCensusPauseState:
    Type: String
    Default: ""
    Description: PauseState object ID used by accessor::set_floor_census.
  FloorCensusCategoryPool:
    Type: String
    Default: ""
    Description: CategoryPool object ID used by accessor::set_floor_census.
  FloorCensusMainPool:
    Type: String
    Default: ""
    Description: MainPool object ID used by accessor::set_floor_census.
  FloorCensusJsonRpcUrl:
    Type: String
    Default: ""
    Description: Optional Sui JSON-RPC URL for floor census event and transaction readback.
  RelayerAllowSubmit:
    Type: String
    Default: "false"
    AllowedValues:
      - "false"
      - "true"
    Description: Must be true before RELAYER_MODE=submit can send a Sui transaction.
  IdentityRelayerMode:
    Type: String
    Default: ""
    AllowedValues:
      - ""
      - dry_run
      - submit
    Description: Leave empty to skip the membership identity relayer. Use dry_run or submit for finalized TEE results.
  SonariIdentityPackageId:
    Type: String
    Default: ""
    Description: Sui package ID for the membership identity Move module.
  SonariIdentityPauseStateId:
    Type: String
    Default: ""
    Description: PauseState object ID for the membership identity accessor call.
  SonariIdentityRegistryId:
    Type: String
    Default: ""
    Description: IdentityRegistry object ID for the membership identity accessor call.
  SonariMembershipRegistryId:
    Type: String
    Default: ""
    Description: MembershipRegistry object ID for the membership identity accessor call.
  SonariVerifierRegistryId:
    Type: String
    Default: ""
    Description: VerifierRegistry object ID used for membership identity relayer and enclave registration.
  SonariSuiClockId:
    Type: String
    Default: "0x6"
    Description: Sui clock object ID for the membership identity accessor call. Defaults to 0x6.

Conditions:
  HasRelayerSignerSecretArn: !Not [!Equals [!Ref RelayerSignerSecretArn, ""]]
  HasSourceArchiverConfig: !And
    - !Not [!Equals [!Ref SourceArchiverTokenSecretArn, ""]]
    - !Not [!Equals [!Ref SourceArchiverPrivateKeySecretArn, ""]]
  HasAffectedProofRegistrarConfig: !And
    - !Not [!Equals [!Ref AffectedProofRegistrarUrl, ""]]
    - !Not [!Equals [!Ref AffectedProofRegistrarTokenSecretArn, ""]]

Resources:
  EventsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: source_event_id
          AttributeType: S
      KeySchema:
        - AttributeName: source_event_id
          KeyType: HASH

  VerificationJobsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${AWS::StackName}-verification_jobs
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: job_id
          AttributeType: S
        # 本人確認ジョブ状態 API（IdentityStatusLambda）が owner+membership 単位で
        # 最新ジョブを引くための GSI キー。upsertRequest が両属性を書き込む。
        - AttributeName: owner_membership_key
          AttributeType: S
        - AttributeName: updated_at_ms
          AttributeType: N
      KeySchema:
        - AttributeName: job_id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: OwnerMembershipUpdatedAtIndex
          KeySchema:
            - AttributeName: owner_membership_key
              KeyType: HASH
            - AttributeName: updated_at_ms
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      StreamSpecification:
        StreamViewType: NEW_AND_OLD_IMAGES

  RunnerLeaseTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${AWS::StackName}-runner_lease
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: lease_id
          AttributeType: S
      KeySchema:
        - AttributeName: lease_id
          KeyType: HASH
      TimeToLiveSpecification:
        AttributeName: lease_expires_at
        Enabled: true

  RunnerResultBucket:
    Type: AWS::S3::Bucket
    Properties:
      LifecycleConfiguration:
        Rules:
          - Id: DeleteRunnerResults
            Status: Enabled
            ExpirationInDays: !Ref ResultRetentionDays
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  RunnerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /sonari/verifier-runner/${AWS::StackName}
      RetentionInDays: !Ref LogsRetentionDays

  SigningMaterialKmsKey:
    Type: AWS::KMS::Key
    Properties:
      Description: Sonari membership identity signing material decrypt key gated by Nitro Enclave attestation.
      EnableKeyRotation: true
      KeyPolicy:
        Version: "2012-10-17"
        Statement:
          - Sid: EnableRootAccountAdministration
            Effect: Allow
            Principal:
              AWS: !Sub arn:${AWS::Partition}:iam::${AWS::AccountId}:root
            Action: kms:*
            Resource: "*"
          - Sid: DenyWrongSigningMaterialImage
            Effect: Deny
            Principal: "*"
            Action: kms:Decrypt
            Resource: "*"
            Condition:
              StringNotEquals:
                kms:RecipientAttestation:ImageSha384: !Ref NitroEnclaveImageSha384
          - Sid: DenyWrongSigningMaterialPcr3
            Effect: Deny
            Principal: "*"
            Action: kms:Decrypt
            Resource: "*"
            Condition:
              StringNotEquals:
                kms:RecipientAttestation:PCR3: !Ref NitroEnclavePcr3
          - Sid: AllowNitroAttestedSigningMaterialDecrypt
            Effect: Allow
            Principal:
              AWS: !Sub arn:${AWS::Partition}:iam::${AWS::AccountId}:root
            Action: kms:Decrypt
            Resource: "*"
            Condition:
              StringEquals:
                kms:CallerAccount: !Ref AWS::AccountId
                kms:RecipientAttestation:ImageSha384: !Ref NitroEnclaveImageSha384
                kms:RecipientAttestation:PCR3: !Ref NitroEnclavePcr3

  SigningMaterialKmsAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub alias/sonari-verifier-runner-membership-${AWS::StackName}
      TargetKeyId: !Ref SigningMaterialKmsKey

  RunnerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub sonari-verifier-runner-${AWS::StackName}-runner
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore
        - arn:aws:iam::aws:policy/CloudWatchAgentServerPolicy
      Policies:
        - PolicyName: ReadVerifierInputsAndWriteResults
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource:
                  - !Ref RunnerTokenSecretArn
              - Effect: Allow
                Action: s3:GetObject
                Resource:
                  - !Sub arn:${AWS::Partition}:s3:::${TeeArtifactS3Bucket}/${TeeArtifactS3Key}
                  - !Sub arn:${AWS::Partition}:s3:::${EarthquakeTeeEifS3Bucket}/${EarthquakeTeeEifS3Key}
                  - !Sub arn:${AWS::Partition}:s3:::${MembershipTeeArtifactS3Bucket}/${MembershipTeeArtifactS3Key}
                  - !Sub arn:${AWS::Partition}:s3:::${TeeEifS3Bucket}/${TeeEifS3Key}
                  - !Sub arn:${AWS::Partition}:s3:::${SigningSeedCiphertextS3Bucket}/${SigningSeedCiphertextS3Key}
              - Effect: Allow
                Action: s3:PutObject
                Resource: !Sub ${RunnerResultBucket.Arn}/results/*
              - Effect: Allow
                Action: kms:Decrypt
                Resource: !GetAtt SigningMaterialKmsKey.Arn
                Condition:
                  StringEquals:
                    kms:RecipientAttestation:ImageSha384: !Ref NitroEnclaveImageSha384
                    kms:RecipientAttestation:PCR3: !Ref NitroEnclavePcr3

  RunnerInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Roles:
        - !Ref RunnerRole

  InstanceSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Sonari verifier runner instance with SSM-only control plane
      VpcId: !Ref VpcId
      SecurityGroupEgress:
        - IpProtocol: -1
          CidrIp: 0.0.0.0/0

  RunnerLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        ImageId: !Ref AmiId
        InstanceType: !Ref InstanceType
        IamInstanceProfile:
          Arn: !GetAtt RunnerInstanceProfile.Arn
        SecurityGroupIds:
          - !Ref InstanceSecurityGroup
        EnclaveOptions:
          Enabled: true
        MetadataOptions:
          HttpTokens: required
          HttpEndpoint: enabled
        UserData:
          Fn::Base64: !Sub |
            #!/bin/bash
            set -euo pipefail
            dnf install -y awscli amazon-ssm-agent git nodejs npm python3 libstdc++ jq socat aws-nitro-enclaves-cli aws-nitro-enclaves-cli-devel || yum install -y awscli amazon-ssm-agent git nodejs npm python3 libstdc++ jq socat aws-nitro-enclaves-cli
            systemctl enable --now amazon-ssm-agent || true
            usermod -aG ne ec2-user || true
            allocator_spec=/etc/nitro_enclaves/allocator.yaml
            sed -i "s/^cpu_count:.*/cpu_count: ${NitroEnclaveCpuCount}/" "$allocator_spec"
            sed -i "s/^memory_mib:.*/memory_mib: ${NitroEnclaveMemoryMiB}/" "$allocator_spec"
            systemctl enable --now nitro-enclaves-allocator.service
            systemctl restart nitro-enclaves-allocator.service
            mkdir -p /opt/sonari/bin
            tee_artifact_archive=/tmp/sonari-earthquake-tee-artifact.tar.gz
            aws s3 cp 's3://${TeeArtifactS3Bucket}/${TeeArtifactS3Key}' "$tee_artifact_archive"
            printf '%s  %s\n' '${TeeArtifactSha256}' "$tee_artifact_archive" | sha256sum -c -
            rm -rf /opt/sonari/tee-artifact
            mkdir -p /opt/sonari/tee-artifact
            tar -xzf "$tee_artifact_archive" -C /opt/sonari/tee-artifact
            test -x /opt/sonari/tee-artifact/bin/tee
            test -x /opt/sonari/tee-artifact/bin/walrus
            test -x /opt/sonari/tee-artifact/bin/vsock-tcp-bridge
            rm -f "$tee_artifact_archive"
            earthquake_eif=/opt/sonari/earthquake-tee.eif
            aws s3 cp 's3://${EarthquakeTeeEifS3Bucket}/${EarthquakeTeeEifS3Key}' "$earthquake_eif"
            printf '%s  %s\n' '${EarthquakeTeeEifSha256}' "$earthquake_eif" | sha256sum -c -
            membership_artifact_archive=/tmp/sonari-membership-identity-tee-artifact.tar.gz
            aws s3 cp 's3://${MembershipTeeArtifactS3Bucket}/${MembershipTeeArtifactS3Key}' "$membership_artifact_archive"
            printf '%s  %s\n' '${MembershipTeeArtifactSha256}' "$membership_artifact_archive" | sha256sum -c -
            rm -rf /opt/sonari/membership-tee-artifact
            mkdir -p /opt/sonari/membership-tee-artifact
            tar -xzf "$membership_artifact_archive" -C /opt/sonari/membership-tee-artifact
            test -x /opt/sonari/membership-tee-artifact/bin/membership-tee
            rm -f "$membership_artifact_archive"
            tee_eif=/opt/sonari/membership-identity-tee.eif
            aws s3 cp 's3://${TeeEifS3Bucket}/${TeeEifS3Key}' "$tee_eif"
            printf '%s  %s\n' '${TeeEifSha256}' "$tee_eif" | sha256sum -c -
            aws s3 cp 's3://${SigningSeedCiphertextS3Bucket}/${SigningSeedCiphertextS3Key}' /opt/sonari/signing-seed.ciphertext
            aws secretsmanager get-secret-value --secret-id '${RunnerTokenSecretArn}' --query SecretString --output text > /opt/sonari/runner-token
            chown -R ec2-user:ec2-user /opt/sonari/tee-artifact /opt/sonari/membership-tee-artifact
            chmod -R u=rwX,go-rwx /opt/sonari/tee-artifact /opt/sonari/membership-tee-artifact
            chown ec2-user:ec2-user /opt/sonari/runner-token "$earthquake_eif" "$tee_eif" /opt/sonari/signing-seed.ciphertext
            chmod 0400 /opt/sonari/runner-token "$earthquake_eif" "$tee_eif" /opt/sonari/signing-seed.ciphertext
            cat >/opt/sonari/bin/run-earthquake-enclave <<'SONARI_EARTHQUAKE_ENCLAVE_WRAPPER'
            #!/bin/bash
            set -euo pipefail
            if [ -f /opt/sonari/runner.env ]; then
              set -a
              source /opt/sonari/runner.env
              set +a
            fi
            : "${!SONARI_EARTHQUAKE_EIF_PATH:?SONARI_EARTHQUAKE_EIF_PATH is required}"
            : "${!SONARI_EARTHQUAKE_NITRO_RUN_ENCLAVE_ARGS:?SONARI_EARTHQUAKE_NITRO_RUN_ENCLAVE_ARGS is required}"
            : "${!SONARI_EARTHQUAKE_ENCLAVE_CID:?SONARI_EARTHQUAKE_ENCLAVE_CID is required}"
            : "${!SONARI_WALRUS_CLI:?SONARI_WALRUS_CLI is required}"
            : "${!SONARI_WALRUS_N_SHARDS:?SONARI_WALRUS_N_SHARDS is required}"
            : "${!SONARI_EARTHQUAKE_EGRESS_PROXY_URL:?SONARI_EARTHQUAKE_EGRESS_PROXY_URL is required}"
            SONARI_EARTHQUAKE_VSOCK_SOCAT_TIMEOUT_SECONDS=180

            marker=/tmp/se
            input_file="$(mktemp)"
            response_file="$(mktemp)"
            trap 'rm -f "$input_file" "$response_file"' EXIT
            cat >"$input_file"

            ensure_earthquake_enclave() {
              test -s "$SONARI_EARTHQUAKE_EIF_PATH"
              if [ -f "$marker" ]; then
                return
              fi

              nitro-cli terminate-enclave --all &>/dev/null || true
              nitro-cli run-enclave $SONARI_EARTHQUAKE_NITRO_RUN_ENCLAVE_ARGS >/tmp/sonari-earthquake-run-enclave.json 2>/tmp/sonari-earthquake-run-enclave.err || { cat /tmp/sonari-earthquake-run-enclave.err >&2; exit 1; }
              rm -f /tmp/sm
              sleep 2

              jq -n \
                --arg walrus_cli "$SONARI_WALRUS_CLI" \
                --argjson walrus_n_shards "$SONARI_WALRUS_N_SHARDS" \
                --arg egress_proxy_url "$SONARI_EARTHQUAKE_EGRESS_PROXY_URL" \
                '{
                  walrus_cli: $walrus_cli,
                  walrus_n_shards: $walrus_n_shards,
                  egress_proxy_url: $egress_proxy_url
                }' | socat -t "$SONARI_EARTHQUAKE_VSOCK_SOCAT_TIMEOUT_SECONDS" - "VSOCK-CONNECT:$SONARI_EARTHQUAKE_ENCLAVE_CID:7777" >/dev/null
              touch "$marker"
            }

            call_earthquake_enclave() {
              local method="$1"
              local request_path="$2"
              local body_file="$3"
              local content_length=0

              if [ "$method" = "POST" ]; then
                content_length="$(wc -c <"$body_file")"
                {
                  printf '%s %s HTTP/1.1\r\nHost: sonari-earthquake\r\nConnection: close\r\nContent-Type: application/json\r\nContent-Length: %s\r\n\r\n' "$method" "$request_path" "$content_length"
                  cat "$body_file"
                } | socat -t "$SONARI_EARTHQUAKE_VSOCK_SOCAT_TIMEOUT_SECONDS" - "VSOCK-CONNECT:$SONARI_EARTHQUAKE_ENCLAVE_CID:3000" >"$response_file"
              else
                printf '%s %s HTTP/1.1\r\nHost: sonari-earthquake\r\nConnection: close\r\n\r\n' "$method" "$request_path" \
                  | socat -t "$SONARI_EARTHQUAKE_VSOCK_SOCAT_TIMEOUT_SECONDS" - "VSOCK-CONNECT:$SONARI_EARTHQUAKE_ENCLAVE_CID:3000" >"$response_file"
              fi

              status_line="$(head -n 1 "$response_file" | tr -d '\r')"
              case "$status_line" in
                "HTTP/1.1 200 "*|"HTTP/1.0 200 "*) ;;
                *)
                  cat "$response_file" >&2
                  exit 1
                  ;;
              esac
              awk 'BEGIN { body = 0 } body { print } { line = $0; sub(/\r$/, "", line); if (line == "") body = 1 }' "$response_file"
            }

            ensure_earthquake_enclave
            action="$(jq -r '.action // empty' "$input_file")"
            case "$action" in
              health_check)
                call_earthquake_enclave GET /health_check "$input_file"
                ;;
              get_attestation)
                call_earthquake_enclave GET /get_attestation "$input_file"
                ;;
              process_data)
                call_earthquake_enclave POST /process_data "$input_file"
                ;;
              *)
                echo "Unsupported earthquake TEE action: $action" >&2
                exit 1
                ;;
            esac
            SONARI_EARTHQUAKE_ENCLAVE_WRAPPER
            chmod 0500 /opt/sonari/bin/run-earthquake-enclave
            cat >/opt/sonari/bin/run-membership-identity-enclave <<'SONARI_ENCLAVE_WRAPPER'
            #!/bin/bash
            set -euo pipefail
            . /opt/sonari/runner.env
            : "$SONARI_MEMBERSHIP_IDENTITY_EIF_PATH" "$SONARI_NITRO_RUN_ENCLAVE_ARGS" "$SONARI_MEMBERSHIP_IDENTITY_ENCLAVE_CID" "$SONARI_WORLD_ID_API_BASE" "$SONARI_WORLD_ID_EGRESS_PROXY_URL" "$SONARI_WORLD_ID_APP_ID" "$SONARI_WORLD_ID_ACTION"
            eif="$SONARI_MEMBERSHIP_IDENTITY_EIF_PATH"
            args="$SONARI_NITRO_RUN_ENCLAVE_ARGS"
            cid="$SONARI_MEMBERSHIP_IDENTITY_ENCLAVE_CID"
            m=/tmp/sm
            i="$(mktemp)"
            o="$(mktemp)"
            trap 'rm -f "$i" "$o"' EXIT
            cat >"$i"
            ensure_membership_enclave() {
              test -s "$eif"
              [ -f "$m" ] && return
              nitro-cli terminate-enclave --all &>/dev/null || true
              rm -f /tmp/se
              nitro-cli run-enclave $args >/dev/null 2>/tmp/m.err || { cat /tmp/m.err >&2; exit 1; }
              sleep 2
              jq -nc --arg world_id_api_base "$SONARI_WORLD_ID_API_BASE" --arg world_id_app_id "$SONARI_WORLD_ID_APP_ID" --arg egress_proxy_url "$SONARI_WORLD_ID_EGRESS_PROXY_URL" --arg network "$RELAYER_NETWORK" --arg proof_mode "$SONARI_WORLD_ID_PROOF_MODE" --arg world_id_action "$SONARI_WORLD_ID_ACTION" '{$world_id_api_base,$world_id_app_id,$egress_proxy_url,$network,$proof_mode,$world_id_action}' | socat -t 180 - "VSOCK-CONNECT:$cid:7777" >/dev/null
              touch "$m"
            }
            ensure_membership_enclave
            action="$(jq -r .action "$i")"
            case "$action" in
              get_attestation) printf 'GET /get_attestation HTTP/1.0\r\n\r\n' ;;
              process_data) printf 'POST /process_data HTTP/1.0\r\nContent-Length:%s\r\n\r\n' "$(wc -c <"$i")"; cat "$i" ;;
              *) exit 1 ;;
            esac | socat -t 180 - "VSOCK-CONNECT:$cid:3000" >"$o"
            head -n 1 "$o" | tr -d '\r' | grep -Eq '^HTTP/1\.[01] 200 ' || { cat "$o" >&2; exit 1; }
            sed '1,/^\r\{0,1\}$/d' "$o"
            SONARI_ENCLAVE_WRAPPER
            chmod 0500 /opt/sonari/bin/run-membership-identity-enclave
            cat >/opt/sonari/bin/run-sonari-verifier <<'SONARI_VERIFIER_DISPATCH'
            #!/bin/bash
            set -euo pipefail
            if [ -f /opt/sonari/runner.env ]; then
              set -a
              source /opt/sonari/runner.env
              set +a
            fi
            case "${!SONARI_VERIFIER_KIND:-earthquake}" in
              "membership_identity")
                exec "${!SONARI_MEMBERSHIP_NITRO_ENCLAVE_PROCESS_COMMAND:-/opt/sonari/bin/run-membership-identity-enclave}"
                ;;
              *)
                exec "${!SONARI_EARTHQUAKE_NITRO_ENCLAVE_PROCESS_COMMAND:-/opt/sonari/bin/run-earthquake-enclave}"
                ;;
            esac
            SONARI_VERIFIER_DISPATCH
            chmod 0500 /opt/sonari/bin/run-sonari-verifier
            nitro_enclave_process_command=$(cat <<'SONARI_COMMAND'
            ${NitroEnclaveProcessCommand}
            SONARI_COMMAND
            )
            earthquake_command=$(cat <<'SONARI_EARTHQUAKE_COMMAND'
            ${EarthquakeNitroEnclaveProcessCommand}
            SONARI_EARTHQUAKE_COMMAND
            )
            membership_command=$(cat <<'SONARI_MEMBERSHIP_COMMAND'
            ${MembershipNitroEnclaveProcessCommand}
            SONARI_MEMBERSHIP_COMMAND
            )
            world_id_app_id=$(cat <<'SONARI_WORLD_ID_APP_ID'
            ${WorldIdAppId}
            SONARI_WORLD_ID_APP_ID
            )
            world_id_action=$(cat <<'SONARI_WORLD_ID_ACTION'
            ${WorldIdAction}
            SONARI_WORLD_ID_ACTION
            )
            world_id_api_base="https://developer.world.org"
            world_id_api_host="$(printf '%s' "$world_id_api_base" | sed -E 's#^https?://([^/:]+).*#\1#')"
            if [ -z "$world_id_api_host" ] || [ "$world_id_api_host" = "$world_id_api_base" ]; then
              echo "WorldIdApiBase must be http(s)" >&2
              exit 1
            fi
            vsock_proxy_path="$(command -v vsock-proxy || true)"
            if [ -z "$vsock_proxy_path" ]; then
              echo "vsock-proxy is required for earthquake enclave egress" >&2
              exit 1
            fi
            cat >/opt/sonari/bin/sonari-earthquake-egress-connect-proxy <<'SONARI_EARTHQUAKE_CONNECT_PROXY'
            #!/usr/bin/env python3
            import argparse
            import select
            import socket
            import socketserver

            class ConnectProxy(socketserver.ThreadingMixIn, socketserver.TCPServer):
                allow_reuse_address = True
                daemon_threads = True

            class Handler(socketserver.BaseRequestHandler):
                def handle(self):
                    data = b""
                    while b"\r\n\r\n" not in data and len(data) <= 8192:
                        chunk = self.request.recv(4096)
                        if not chunk:
                            return
                        data += chunk
                    line = data.split(b"\r\n", 1)[0].decode("ascii", "replace")
                    parts = line.split()
                    if len(parts) != 3 or parts[0].upper() != "CONNECT":
                        self.request.sendall(b"HTTP/1.1 405 Method Not Allowed\r\nConnection: close\r\n\r\n")
                        return
                    target = parts[1].lower()
                    if target not in self.server.allowlist:
                        self.request.sendall(b"HTTP/1.1 403 Forbidden\r\nConnection: close\r\n\r\n")
                        return
                    host, port = target.rsplit(":", 1)
                    upstream = socket.create_connection((host, int(port)), timeout=10)
                    self.request.sendall(b"HTTP/1.1 200 Connection Established\r\n\r\n")
                    sockets = [self.request, upstream]
                    try:
                        while sockets:
                            readable, _, _ = select.select(sockets, [], [], 60)
                            if not readable:
                                break
                            for source in readable:
                                chunk = source.recv(65536)
                                if not chunk:
                                    sockets.remove(source)
                                    continue
                                destination = upstream if source is self.request else self.request
                                destination.sendall(chunk)
                    finally:
                        upstream.close()

            parser = argparse.ArgumentParser()
            parser.add_argument("--listen-host", default="127.0.0.1")
            parser.add_argument("--listen-port", type=int, required=True)
            parser.add_argument("--allowlist-file", required=True)
            args = parser.parse_args()
            with open(args.allowlist_file, encoding="utf-8") as file:
                allowlist = frozenset(line.strip().lower() for line in file if line.strip())
            with ConnectProxy((args.listen_host, args.listen_port), Handler) as server:
                server.allowlist = allowlist
                server.serve_forever()
            SONARI_EARTHQUAKE_CONNECT_PROXY
            chmod 0500 /opt/sonari/bin/sonari-earthquake-egress-connect-proxy
            printf '%s\n' "earthquake.usgs.gov:443" >/opt/sonari/earthquake-egress-allowlist
            printf '%s\n' "$world_id_api_host:443" >>/opt/sonari/earthquake-egress-allowlist
            if ! grep -Fq '{address: 127.0.0.1, port: 18081}' /etc/nitro_enclaves/vsock-proxy.yaml; then
              printf '%s\n' '- {address: 127.0.0.1, port: 18081}' >>/etc/nitro_enclaves/vsock-proxy.yaml
            fi
            cat >/etc/systemd/system/sonari-earthquake-egress-connect-proxy.service <<'SONARI_EARTHQUAKE_CONNECT_PROXY_SERVICE'
            [Unit]
            Description=Sonari earthquake HTTPS CONNECT egress proxy
            After=network-online.target
            Wants=network-online.target

            [Service]
            Type=simple
            Restart=always
            RestartSec=2
            ExecStart=/opt/sonari/bin/sonari-earthquake-egress-connect-proxy --listen-port 18081 --allowlist-file /opt/sonari/earthquake-egress-allowlist

            [Install]
            WantedBy=multi-user.target
            SONARI_EARTHQUAKE_CONNECT_PROXY_SERVICE
            cat >/etc/systemd/system/sonari-earthquake-egress-vsock-proxy.service <<SONARI_EARTHQUAKE_VSOCK_PROXY_SERVICE
            [Unit]
            Description=Sonari earthquake egress vsock proxy
            After=sonari-earthquake-egress-connect-proxy.service nitro-enclaves-allocator.service
            Wants=sonari-earthquake-egress-connect-proxy.service nitro-enclaves-allocator.service

            [Service]
            Type=simple
            Restart=always
            RestartSec=2
            ExecStart=$vsock_proxy_path 18080 127.0.0.1 18081

            [Install]
            WantedBy=multi-user.target
            SONARI_EARTHQUAKE_VSOCK_PROXY_SERVICE
            systemctl daemon-reload
            systemctl enable --now sonari-earthquake-egress-connect-proxy.service
            systemctl enable --now sonari-earthquake-egress-vsock-proxy.service
            {
              echo "RUNNER_TOKEN_FILE=/opt/sonari/runner-token"
              echo "SONARI_WALRUS_CLI=/opt/sonari/tee-artifact/bin/walrus"
              echo "SONARI_WALRUS_N_SHARDS=1000"
              echo "SONARI_EARTHQUAKE_EGRESS_PROXY_PORT=18080"
              echo "SONARI_EARTHQUAKE_EGRESS_PROXY_URL=http://127.0.0.1:18080"
              echo "SONARI_SIGNING_MATERIAL_CIPHERTEXT_FILE=/opt/sonari/signing-seed.ciphertext"
              echo "SONARI_SIGNING_MATERIAL_KMS_KEY_ID=${SigningMaterialKmsKey}"
              printf 'SONARI_EARTHQUAKE_EIF_PATH=%q\n' "$earthquake_eif"
              echo "SONARI_EARTHQUAKE_ENCLAVE_CID=${NitroEnclaveCid}"
              printf 'SONARI_EARTHQUAKE_NITRO_RUN_ENCLAVE_ARGS=%q\n' "--eif-path $earthquake_eif --cpu-count ${NitroEnclaveCpuCount} --memory ${NitroEnclaveMemoryMiB} --enclave-cid ${NitroEnclaveCid}"
              printf 'SONARI_MEMBERSHIP_IDENTITY_EIF_PATH=%q\n' "$tee_eif"
              echo "SONARI_MEMBERSHIP_IDENTITY_ENCLAVE_CID=${NitroEnclaveCid}"
              printf 'SONARI_NITRO_RUN_ENCLAVE_ARGS=%q\n' "--eif-path $tee_eif --cpu-count ${NitroEnclaveCpuCount} --memory ${NitroEnclaveMemoryMiB} --enclave-cid ${NitroEnclaveCid}"
              printf 'SONARI_WORLD_ID_APP_ID=%q\n' "$world_id_app_id"
              printf 'SONARI_WORLD_ID_ACTION=%q\n' "$world_id_action"
              echo "SONARI_WORLD_ID_PROOF_MODE=${WorldIdProofMode}"
              echo "RELAYER_NETWORK=${RelayerNetwork}"
              echo "SONARI_WORLD_ID_API_BASE=https://developer.world.org"
              echo "SONARI_WORLD_ID_EGRESS_PROXY_URL=http://127.0.0.1:18080"
              echo "SONARI_WORLD_ID_PROOF_MODE=${WorldIdProofMode}"
              echo "RELAYER_NETWORK=${RelayerNetwork}"
              printf 'NITRO_ENCLAVE_PROCESS_COMMAND=%q\n' "$nitro_enclave_process_command"
              printf 'SONARI_EARTHQUAKE_NITRO_ENCLAVE_PROCESS_COMMAND=%q\n' "$earthquake_command"
              printf 'SONARI_MEMBERSHIP_NITRO_ENCLAVE_PROCESS_COMMAND=%q\n' "$membership_command"
            } >/opt/sonari/runner.env
            chown ec2-user:ec2-user /opt/sonari/runner.env
            chmod 0400 /opt/sonari/runner.env
            test -x /opt/sonari/bin/run-sonari-verifier
            test -x /opt/sonari/bin/run-earthquake-enclave
            test -x /opt/sonari/bin/run-membership-identity-enclave
            systemctl is-active --quiet nitro-enclaves-allocator.service
            systemctl is-active --quiet sonari-earthquake-egress-connect-proxy.service
            systemctl is-active --quiet sonari-earthquake-egress-vsock-proxy.service
            touch /opt/sonari/bootstrap-complete

  RunnerAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      VPCZoneIdentifier: !Ref SubnetIds
      MinSize: "0"
      MaxSize: "1"
      DesiredCapacity: "0"
      LaunchTemplate:
        LaunchTemplateId: !Ref RunnerLaunchTemplate
        Version: !GetAtt RunnerLaunchTemplate.LatestVersionNumber

  WatcherLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: WatcherStateAndWorkflow
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:DeleteItem
                  - dynamodb:Query
                  - dynamodb:Scan
                  - dynamodb:TransactWriteItems
                Resource: !GetAtt EventsTable.Arn
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Ref EarthquakeRunnerStateMachine
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource: !Ref RunnerTokenSecretArn

  SubmitVerificationLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: WriteVerificationJobs
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                Resource: !GetAtt VerificationJobsTable.Arn

  IdentityStatusLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ReadVerificationJobStatus
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: dynamodb:Query
                Resource: !Sub ${VerificationJobsTable.Arn}/index/OwnerMembershipUpdatedAtIndex

  BatchVerifierLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ClaimVerificationJobsAndStartWorkflow
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:Scan
                  - dynamodb:UpdateItem
                Resource: !GetAtt VerificationJobsTable.Arn
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Ref MembershipRunnerStateMachine

  RunnerControlLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ControlSharedVerifierRunner
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - autoscaling:SetDesiredCapacity
                  - autoscaling:DescribeAutoScalingGroups
                Resource: "*"
              - Effect: Allow
                Action:
                  - ec2:DescribeInstances
                  - ssm:DescribeInstanceInformation
                Resource: "*"
              - Effect: Allow
                Action: ssm:SendCommand
                Resource:
                  - !Sub arn:${AWS::Partition}:ec2:${AWS::Region}:${AWS::AccountId}:instance/*
                  - !Sub arn:${AWS::Partition}:ssm:${AWS::Region}::document/AWS-RunShellScript
              - Effect: Allow
                Action: ssm:GetCommandInvocation
                Resource: "*"
              - Effect: Allow
                Action: s3:GetObject
                Resource: !Sub ${RunnerResultBucket.Arn}/results/*
              - Effect: Allow
                Action: s3:PutObject
                Resource: !Sub ${RunnerResultBucket.Arn}/source-artifacts/*
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:DeleteItem
                Resource:
                  - !GetAtt EventsTable.Arn
                  - !GetAtt VerificationJobsTable.Arn
                  - !GetAtt RunnerLeaseTable.Arn
              - !If
                - HasRelayerSignerSecretArn
                - Effect: Allow
                  Action: secretsmanager:GetSecretValue
                  Resource: !Ref RelayerSignerSecretArn
                - !Ref AWS::NoValue
              - !If
                - HasSourceArchiverConfig
                - Effect: Allow
                  Action: secretsmanager:GetSecretValue
                  Resource: !Ref SourceArchiverTokenSecretArn
                - !Ref AWS::NoValue
              - !If
                - HasAffectedProofRegistrarConfig
                - Effect: Allow
                  Action: secretsmanager:GetSecretValue
                  Resource: !Ref AffectedProofRegistrarTokenSecretArn
                - !Ref AWS::NoValue

  SourceArchiverLambdaRole:
    Type: AWS::IAM::Role
    Condition: HasSourceArchiverConfig
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ReadSourceArtifactsAndWalrusSecrets
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: s3:GetObject
                Resource: !Sub ${RunnerResultBucket.Arn}/source-artifacts/*
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource:
                  - !Ref SourceArchiverTokenSecretArn
                  - !Ref SourceArchiverPrivateKeySecretArn

  RunnerStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeRunnerControl
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt RunnerControlLambda.Arn

  WatcherScheduleRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeWatcherLambda
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt WatcherLambda.Arn

  BatchScheduleRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeBatchVerifier
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt BatchVerifierLambda.Arn

  WatcherLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/lambda.scheduledHandler
      Role: !GetAtt WatcherLambdaRole.Arn
      Timeout: 60
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          EVENTS_TABLE_NAME: !Ref EventsTable
          RUNNER_STATE_MACHINE_ARN: !Ref EarthquakeRunnerStateMachine
          RUNNER_TOKEN_SECRET_ARN: !Ref RunnerTokenSecretArn

  ManualWatcherLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/lambda.manualHandler
      Role: !GetAtt WatcherLambdaRole.Arn
      Timeout: 30
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          EVENTS_TABLE_NAME: !Ref EventsTable
          RUNNER_STATE_MACHINE_ARN: !Ref EarthquakeRunnerStateMachine
          RUNNER_TOKEN_SECRET_ARN: !Ref RunnerTokenSecretArn

  ManualWatcherFunctionUrl:
    Type: AWS::Lambda::Url
    Properties:
      AuthType: NONE
      TargetFunctionArn: !Ref ManualWatcherLambda

  ManualWatcherFunctionUrlPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunctionUrl
      FunctionName: !Ref ManualWatcherLambda
      Principal: "*"
      FunctionUrlAuthType: NONE

  ManualWatcherFunctionInvokeUrlPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref ManualWatcherLambda
      Principal: "*"
      InvokedViaFunctionUrl: true

  SubmitVerificationLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/lambda.submitVerificationHandler
      Role: !GetAtt SubmitVerificationLambdaRole.Arn
      Timeout: 30
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          VERIFICATION_JOBS_TABLE_NAME: !Ref VerificationJobsTable
          SONARI_IDENTITY_REGISTRY_ID: !Ref SonariIdentityRegistryId

  SubmitVerificationFunctionUrl:
    Type: AWS::Lambda::Url
    Properties:
      AuthType: NONE
      TargetFunctionArn: !Ref SubmitVerificationLambda
      Cors:
        AllowHeaders:
          - content-type
        AllowMethods:
          - POST
        AllowOrigins:
          - "*"
        MaxAge: 300

  SubmitVerificationFunctionUrlPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunctionUrl
      FunctionName: !Ref SubmitVerificationLambda
      Principal: "*"
      FunctionUrlAuthType: NONE

  SubmitVerificationFunctionInvokeUrlPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref SubmitVerificationLambda
      Principal: "*"
      InvokedViaFunctionUrl: true

  # 本人確認ジョブ状態 API。wallet 署名付き request を検証し sanitized status だけ返す
  # 読み取り専用 Lambda（dist/src/lambda.identityStatusHandler）。書き込み権限は持たせない。
  IdentityStatusLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/lambda.identityStatusHandler
      Role: !GetAtt IdentityStatusLambdaRole.Arn
      Timeout: 10
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          VERIFICATION_JOBS_TABLE_NAME: !Ref VerificationJobsTable

  IdentityStatusFunctionUrl:
    Type: AWS::Lambda::Url
    Properties:
      AuthType: NONE
      TargetFunctionArn: !Ref IdentityStatusLambda
      Cors:
        AllowHeaders:
          - content-type
        AllowMethods:
          - POST
        AllowOrigins:
          - "*"
        MaxAge: 300

  IdentityStatusFunctionUrlPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunctionUrl
      FunctionName: !Ref IdentityStatusLambda
      Principal: "*"
      FunctionUrlAuthType: NONE

  IdentityStatusFunctionInvokeUrlPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref IdentityStatusLambda
      Principal: "*"
      InvokedViaFunctionUrl: true

  BatchVerifierLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/lambda.batchVerifierHandler
      Role: !GetAtt BatchVerifierLambdaRole.Arn
      Timeout: 60
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          VERIFICATION_JOBS_TABLE_NAME: !Ref VerificationJobsTable
          RUNNER_STATE_MACHINE_ARN: !Ref MembershipRunnerStateMachine

  RunnerControlLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/runner_workflow.handler
      Role: !GetAtt RunnerControlLambdaRole.Arn
      Timeout: 900
      MemorySize: 512
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          EVENTS_TABLE_NAME: !Ref EventsTable
          VERIFICATION_JOBS_TABLE_NAME: !Ref VerificationJobsTable
          RUNNER_LEASE_TABLE_NAME: !Ref RunnerLeaseTable
          RUNNER_ASG_NAME: !Ref RunnerAutoScalingGroup
          RESULT_BUCKET: !Ref RunnerResultBucket
          NITRO_ENCLAVE_PROCESS_COMMAND: !Ref NitroEnclaveProcessCommand
          EARTHQUAKE_NITRO_ENCLAVE_PROCESS_COMMAND: !Ref EarthquakeNitroEnclaveProcessCommand
          MEMBERSHIP_NITRO_ENCLAVE_PROCESS_COMMAND: !Ref MembershipNitroEnclaveProcessCommand
          RELAYER_MODE: !Ref RelayerMode
          RELAYER_NETWORK: !Ref RelayerNetwork
          RELAYER_TARGET: !Ref RelayerTarget
          RELAYER_REGISTRY: !Ref RelayerRegistry
          RELAYER_VERIFIER_REGISTRY: !Ref RelayerVerifierRegistry
          RELAYER_CATEGORY_REGISTRY: !Ref RelayerCategoryRegistry
          RELAYER_CATEGORY_POOL: !Ref RelayerCategoryPool
          RELAYER_GRPC_URL: !Ref RelayerGrpcUrl
          RELAYER_SENDER_ADDRESS: !Ref RelayerSenderAddress
          RELAYER_SIGNER_SECRET_ARN: !Ref RelayerSignerSecretArn
          RELAYER_ALLOW_SUBMIT: !Ref RelayerAllowSubmit
          FLOOR_CENSUS_MODE: !Ref FloorCensusMode
          FLOOR_CENSUS_TARGET: !Ref FloorCensusTarget
          FLOOR_CENSUS_PAUSE_STATE: !Ref FloorCensusPauseState
          FLOOR_CENSUS_CATEGORY_POOL: !Ref FloorCensusCategoryPool
          FLOOR_CENSUS_MAIN_POOL: !Ref FloorCensusMainPool
          FLOOR_CENSUS_JSON_RPC_URL: !Ref FloorCensusJsonRpcUrl
          IDENTITY_RELAYER_MODE: !Ref IdentityRelayerMode
          SONARI_IDENTITY_PACKAGE_ID: !Ref SonariIdentityPackageId
          SONARI_IDENTITY_PAUSE_STATE_ID: !Ref SonariIdentityPauseStateId
          SONARI_IDENTITY_REGISTRY_ID: !Ref SonariIdentityRegistryId
          SONARI_MEMBERSHIP_REGISTRY_ID: !Ref SonariMembershipRegistryId
          SONARI_VERIFIER_REGISTRY_ID: !Ref SonariVerifierRegistryId
          SONARI_SUI_CLOCK_ID: !Ref SonariSuiClockId
          SOURCE_ARCHIVER_URL: !If [HasSourceArchiverConfig, !GetAtt SourceArchiverFunctionUrl.FunctionUrl, ""]
          SOURCE_ARCHIVER_TOKEN_SECRET_ARN: !If [HasSourceArchiverConfig, !Ref SourceArchiverTokenSecretArn, ""]
          AFFECTED_PROOF_REGISTRAR_URL: !If [HasAffectedProofRegistrarConfig, !Ref AffectedProofRegistrarUrl, ""]
          AFFECTED_PROOF_REGISTRAR_TOKEN_SECRET_ARN: !If [HasAffectedProofRegistrarConfig, !Ref AffectedProofRegistrarTokenSecretArn, ""]

  SourceArchiverLambda:
    Type: AWS::Lambda::Function
    Condition: HasSourceArchiverConfig
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/source_archiver.sourceArchiverHandler
      Role: !GetAtt SourceArchiverLambdaRole.Arn
      Timeout: 240
      MemorySize: 512
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          RESULT_BUCKET: !Ref RunnerResultBucket
          SOURCE_ARCHIVER_TOKEN_SECRET_ARN: !Ref SourceArchiverTokenSecretArn
          SOURCE_ARCHIVER_PRIVATE_KEY_SECRET_ARN: !Ref SourceArchiverPrivateKeySecretArn
          SUI_NETWORK: !Ref SourceArchiverSuiNetwork
          SUI_RPC_URL: !Ref SourceArchiverSuiRpcUrl
          WALRUS_UPLOAD_RELAY_URL: !Ref SourceArchiverWalrusUploadRelayUrl
          WALRUS_UPLOAD_RELAY_TIP_MAX_MIST: !Ref SourceArchiverWalrusUploadRelayTipMaxMist
          WALRUS_EPOCHS: !Ref SourceArchiverWalrusEpochs
          WALRUS_DELETABLE: !Ref SourceArchiverWalrusDeletable

  SourceArchiverFunctionUrl:
    Type: AWS::Lambda::Url
    Condition: HasSourceArchiverConfig
    Properties:
      AuthType: NONE
      TargetFunctionArn: !Ref SourceArchiverLambda

  SourceArchiverFunctionUrlPermission:
    Type: AWS::Lambda::Permission
    Condition: HasSourceArchiverConfig
    Properties:
      Action: lambda:InvokeFunctionUrl
      FunctionName: !Ref SourceArchiverLambda
      Principal: "*"
      FunctionUrlAuthType: NONE

  SourceArchiverFunctionInvokeUrlPermission:
    Type: AWS::Lambda::Permission
    Condition: HasSourceArchiverConfig
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref SourceArchiverLambda
      Principal: "*"
      InvokedViaFunctionUrl: true

  EarthquakeRunnerStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt RunnerStateMachineRole.Arn
      StateMachineType: STANDARD
      DefinitionString: !Sub |
        {
          "Comment": "Run Sonari earthquake verifier on shared EC2 Nitro Enclave capacity.",
          "StartAt": "StartRouter",
          "States": {
            "StartRouter": {
              "Type": "Choice",
              "Choices": [
                { "And": [
                  { "Variable": "$.action", "IsPresent": true },
                  { "Variable": "$.action", "StringEquals": "register_affected_cells_proof" }
                ], "Next": "RegisterAffectedCellsProofRetry" }
              ],
              "Default": "StartInstance"
            },
            "StartInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "start_instance", "source_event_id.$": "$.source_event_id", "event_revision.$": "$.event_revision", "attempt.$": "$.attempt" },
              "Next": "RunnerCapacityAvailable",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "RunnerCapacityAvailable": {
              "Type": "Choice",
              "Choices": [
                { "And": [
                  { "Variable": "$.capacity_busy", "IsPresent": true },
                  { "Variable": "$.capacity_busy", "BooleanEquals": true }
                ], "Next": "WaitForSharedRunnerLease" }
              ],
              "Default": "WaitForInstance"
            },
            "WaitForSharedRunnerLease": { "Type": "Wait", "Seconds": 60, "Next": "StartInstance" },
            "WaitForInstance": { "Type": "Wait", "Seconds": 60, "Next": "FindReadyInstance" },
            "FindReadyInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "find_ready_instance", "source_event_id.$": "$.source_event_id", "event_revision.$": "$.event_revision", "attempt.$": "$.attempt" },
              "Next": "DispatchHealthCheckCommand",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 20, "BackoffRate": 1.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "DispatchHealthCheckCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "dispatch_health_check_command", "source_event_id.$": "$.source_event_id", "event_revision.$": "$.event_revision", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id" },
              "ResultSelector": { "verifier_kind.$": "$.verifier_kind", "source_event_id.$": "$.source_event_id", "event_revision.$": "$.event_revision", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "command_id.$": "$.command_id", "result_s3_key.$": "$.result_s3_key", "command_poll_count": 0 },
              "Next": "WaitForHealthCheckCommand",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "WaitForHealthCheckCommand": { "Type": "Wait", "Seconds": 30, "Next": "PollHealthCheckCommand" },
            "PollHealthCheckCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "poll_command", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "command_id.$": "$.command_id", "result_s3_key.$": "$.result_s3_key", "command_poll_count.$": "$.command_poll_count" },
              "Next": "HealthCheckCommandComplete",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "HealthCheckCommandComplete": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.command_status", "StringEquals": "SUCCEEDED", "Next": "ReadHealthCheckResult" },
                { "Variable": "$.command_status", "StringEquals": "FAILED", "Next": "MarkFailed" },
                { "Variable": "$.command_poll_count", "NumericGreaterThanEquals": 60, "Next": "MarkCommandPollingTimedOut" }
              ],
              "Default": "WaitForHealthCheckCommand"
            },
            "ReadHealthCheckResult": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "read_health_check_result", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key" },
              "ResultPath": "$.health_check_result",
              "Next": "DispatchGetAttestationCommand",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "DispatchGetAttestationCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "dispatch_get_attestation_command", "source_event_id.$": "$.source_event_id", "event_revision.$": "$.event_revision", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id" },
              "ResultSelector": { "verifier_kind.$": "$.verifier_kind", "source_event_id.$": "$.source_event_id", "event_revision.$": "$.event_revision", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "command_id.$": "$.command_id", "result_s3_key.$": "$.result_s3_key", "command_poll_count": 0 },
              "Next": "WaitForAttestationCommand",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "WaitForAttestationCommand": { "Type": "Wait", "Seconds": 30, "Next": "PollAttestationCommand" },
            "PollAttestationCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "poll_command", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "command_id.$": "$.command_id", "result_s3_key.$": "$.result_s3_key", "command_poll_count.$": "$.command_poll_count" },
              "Next": "AttestationCommandComplete",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "AttestationCommandComplete": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.command_status", "StringEquals": "SUCCEEDED", "Next": "ReadAttestationResult" },
                { "Variable": "$.command_status", "StringEquals": "FAILED", "Next": "MarkFailed" },
                { "Variable": "$.command_poll_count", "NumericGreaterThanEquals": 60, "Next": "MarkCommandPollingTimedOut" }
              ],
              "Default": "WaitForAttestationCommand"
            },
            "ReadAttestationResult": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "read_attestation_result", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key" },
              "ResultPath": "$.attestation_result",
              "Next": "RegisterEnclaveInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "RegisterEnclaveInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "register_enclave_instance", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "attestation.$": "$.attestation_result.attestation" },
              "ResultPath": "$.registration_result",
              "Next": "DispatchProcessDataCommand",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "DispatchProcessDataCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "dispatch_process_data_command", "source_event_id.$": "$.source_event_id", "event_revision.$": "$.event_revision", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "registration_metadata.$": "$.registration_result.registration_metadata" },
              "ResultSelector": { "verifier_kind.$": "$.verifier_kind", "source_event_id.$": "$.source_event_id", "event_revision.$": "$.event_revision", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "command_id.$": "$.command_id", "result_s3_key.$": "$.result_s3_key", "command_poll_count": 0 },
              "Next": "WaitForCommand",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "WaitForCommand": { "Type": "Wait", "Seconds": 30, "Next": "PollCommand" },
            "PollCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "poll_command", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "command_id.$": "$.command_id", "result_s3_key.$": "$.result_s3_key", "command_poll_count.$": "$.command_poll_count" },
              "Next": "CommandComplete",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "CommandComplete": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.command_status", "StringEquals": "SUCCEEDED", "Next": "ReadResult" },
                { "Variable": "$.command_status", "StringEquals": "FAILED", "Next": "MarkFailed" },
                { "Variable": "$.command_poll_count", "NumericGreaterThanEquals": 60, "Next": "MarkCommandPollingTimedOut" }
              ],
              "Default": "WaitForCommand"
            },
            "ReadResult": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "read_result", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key" },
              "Next": "ApplyResult",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "ApplyResult": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "apply_result", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key" },
              "Next": "ArchiveSources",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "ArchiveSources": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "archive_sources", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key" },
              "Next": "RegisterAffectedCellsProof",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "RegisterAffectedCellsProof": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "register_affected_cells_proof", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key" },
              "Next": "RelayerPreviewOrDryRun",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "RelayerPreviewOrDryRun" }]
            },
            "RegisterAffectedCellsProofRetry": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "register_affected_cells_proof", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key" },
              "End": true,
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "RestoreAffectedCellsProofRegistrationRetry" }]
            },
            "RestoreAffectedCellsProofRegistrationRetry": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "restore_affected_cells_proof_registration_retry", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "message.$": "$.error.Cause" },
              "Next": "ProofRegistrationRetryComplete",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.restore_error", "Next": "ProofRegistrationRetryComplete" }]
            },
            "ProofRegistrationRetryComplete": {
              "Type": "Succeed"
            },
            "RelayerPreviewOrDryRun": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "relayer_preview_or_dry_run", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key" },
              "Next": "RelayerResultComplete",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "StopInstance" }]
            },
            "RelayerResultComplete": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.relayer", "StringEquals": "succeeded", "Next": "RecordRelayerSuccess" }
              ],
              "Default": "StopInstance"
            },
            "RecordRelayerSuccess": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "record_relayer_success", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key", "relayer_success.$": "$.relayer_success" },
              "Next": "RunFloorCensus",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 8, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "StopInstance" }]
            },
            "RunFloorCensus": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "run_floor_census", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key", "relayer_success.$": "$.relayer_success" },
              "Next": "StopInstance",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "StopInstance" }]
            },
            "MarkFailed": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "mark_failed", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt" },
              "Next": "StopInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "StopInstance" }]
            },
            "MarkCommandPollingTimedOut": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "mark_failed", "source_event_id.$": "$.source_event_id", "attempt.$": "$.attempt", "error_code": "AWS_RUNNER_TIMEOUT", "message": "SSM command polling exceeded 30 minutes" },
              "Next": "StopInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "StopInstance" }]
            },
            "StopInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "stop_instance", "source_event_id.$": "$.source_event_id", "event_revision.$": "$.event_revision", "attempt.$": "$.attempt" },
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 8, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.stop_error", "Next": "StopInstanceFailed" }],
              "End": true
            },
            "StopInstanceFailed": {
              "Type": "Fail",
              "Error": "StopInstanceFailed",
              "Cause": "Runner cleanup failed after retrying StopInstance"
            }
          }
        }

  MembershipRunnerStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt RunnerStateMachineRole.Arn
      StateMachineType: STANDARD
      DefinitionString: !Sub |
        {
          "Comment": "Run Sonari membership identity verifier on shared EC2 Nitro Enclave capacity.",
          "StartAt": "StartInstance",
          "States": {
            "StartInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "start_instance", "job_id.$": "$.job_id", "attempt.$": "$.attempt" },
              "Next": "RunnerCapacityAvailable",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "RunnerCapacityAvailable": {
              "Type": "Choice",
              "Choices": [
                { "And": [
                  { "Variable": "$.capacity_busy", "IsPresent": true },
                  { "Variable": "$.capacity_busy", "BooleanEquals": true }
                ], "Next": "WaitForSharedRunnerLease" }
              ],
              "Default": "WaitForInstance"
            },
            "WaitForSharedRunnerLease": { "Type": "Wait", "Seconds": 60, "Next": "StartInstance" },
            "WaitForInstance": { "Type": "Wait", "Seconds": 60, "Next": "FindReadyInstance" },
            "FindReadyInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "find_ready_instance", "job_id.$": "$.job_id", "attempt.$": "$.attempt" },
              "Next": "DispatchGetAttestationCommand",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 20, "BackoffRate": 1.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "DispatchGetAttestationCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "dispatch_get_attestation_command", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id" },
              "ResultSelector": { "verifier_kind.$": "$.verifier_kind", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "command_id.$": "$.command_id", "result_s3_key.$": "$.result_s3_key", "command_poll_count": 0 },
              "Next": "WaitForAttestationCommand",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "WaitForAttestationCommand": { "Type": "Wait", "Seconds": 30, "Next": "PollAttestationCommand" },
            "PollAttestationCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "poll_command", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "command_id.$": "$.command_id", "result_s3_key.$": "$.result_s3_key", "command_poll_count.$": "$.command_poll_count" },
              "Next": "AttestationCommandComplete",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "AttestationCommandComplete": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.command_status", "StringEquals": "SUCCEEDED", "Next": "ReadAttestationResult" },
                { "Variable": "$.command_status", "StringEquals": "FAILED", "Next": "MarkFailed" },
                { "Variable": "$.command_poll_count", "NumericGreaterThanEquals": 60, "Next": "MarkCommandPollingTimedOut" }
              ],
              "Default": "WaitForAttestationCommand"
            },
            "ReadAttestationResult": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "read_attestation_result", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key" },
              "ResultPath": "$.attestation_result",
              "Next": "RegisterEnclaveInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "RegisterEnclaveInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "register_enclave_instance", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "attestation.$": "$.attestation_result.attestation" },
              "ResultPath": "$.registration_result",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Next": "DispatchProcessDataCommand",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "DispatchProcessDataCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "dispatch_process_data_command", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "registration_metadata.$": "$.registration_result.registration_metadata" },
              "ResultSelector": { "verifier_kind.$": "$.verifier_kind", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "command_id.$": "$.command_id", "result_s3_key.$": "$.result_s3_key", "command_poll_count": 0 },
              "Next": "WaitForCommand",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "WaitForCommand": { "Type": "Wait", "Seconds": 30, "Next": "PollCommand" },
            "PollCommand": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "poll_command", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "instance_id.$": "$.instance_id", "command_id.$": "$.command_id", "result_s3_key.$": "$.result_s3_key", "command_poll_count.$": "$.command_poll_count" },
              "Next": "CommandComplete",
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 5, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "CommandComplete": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.command_status", "StringEquals": "SUCCEEDED", "Next": "ReadResult" },
                { "Variable": "$.command_status", "StringEquals": "FAILED", "Next": "MarkFailed" },
                { "Variable": "$.command_poll_count", "NumericGreaterThanEquals": 60, "Next": "MarkCommandPollingTimedOut" }
              ],
              "Default": "WaitForCommand"
            },
            "ReadResult": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "read_result", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "result_s3_key.$": "$.result_s3_key" },
              "Next": "DryRunSuiSubmission",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "DryRunSuiSubmission": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "dry_run_sui_submission", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "result.$": "$.result" },
              "Next": "DryRunSuiSubmissionComplete",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "DryRunSuiSubmissionComplete": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.sui_submission", "StringEquals": "failed", "Next": "StopInstance" },
                { "Variable": "$.sui_submission", "StringEquals": "succeeded", "Next": "SubmitSuiSubmission" }
              ],
              "Default": "ApplyResult"
            },
            "SubmitSuiSubmission": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "submit_sui_submission", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "result.$": "$.result" },
              "Next": "StopInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "ApplyResult": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "apply_result", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "result.$": "$.result" },
              "Next": "StopInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
            },
            "MarkFailed": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "mark_failed", "job_id.$": "$.job_id", "attempt.$": "$.attempt" },
              "Next": "StopInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "StopInstance" }]
            },
            "MarkCommandPollingTimedOut": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "mark_failed", "job_id.$": "$.job_id", "attempt.$": "$.attempt", "error_code": "AWS_MEMBERSHIP_RUNNER_TIMEOUT", "message": "SSM command polling exceeded 30 minutes" },
              "Next": "StopInstance",
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "StopInstance" }]
            },
            "StopInstance": {
              "Type": "Task",
              "Resource": "${RunnerControlLambda.Arn}",
              "Parameters": { "verifier_kind.$": "$.verifier_kind", "action": "stop_instance", "job_id.$": "$.job_id", "attempt.$": "$.attempt" },
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 8, "BackoffRate": 2.0 }],
              "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.stop_error", "Next": "StopInstanceFailed" }],
              "End": true
            },
            "StopInstanceFailed": {
              "Type": "Fail",
              "Error": "StopInstanceFailed",
              "Cause": "Membership identity runner cleanup failed after retrying StopInstance"
            }
          }
        }

  WatcherSchedule:
    Type: AWS::Scheduler::Schedule
    Properties:
      ScheduleExpression: !Ref ScheduleExpression
      ScheduleExpressionTimezone: Asia/Tokyo
      State: !Ref ScheduleState
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !GetAtt WatcherLambda.Arn
        RoleArn: !GetAtt WatcherScheduleRole.Arn
        Input: '{"verifier_kind": "earthquake"}'

  BatchSchedule:
    Type: AWS::Scheduler::Schedule
    Properties:
      ScheduleExpression: !Ref MembershipScheduleExpression
      State: !Ref ScheduleState
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !GetAtt BatchVerifierLambda.Arn
        RoleArn: !GetAtt BatchScheduleRole.Arn
        Input: '{"verifier_kind": "membership_identity"}'

  MembershipJobStreamDlq:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600

  MembershipJobStreamLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: MembershipJobStreamAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:DescribeStream
                  - dynamodb:GetRecords
                  - dynamodb:GetShardIterator
                  - dynamodb:ListStreams
                Resource: !GetAtt VerificationJobsTable.StreamArn
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:UpdateItem
                Resource: !GetAtt VerificationJobsTable.Arn
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Ref MembershipRunnerStateMachine
              - Effect: Allow
                Action: sqs:SendMessage
                Resource: !GetAtt MembershipJobStreamDlq.Arn

  MembershipJobStreamLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs22.x
      Handler: dist/src/lambda.jobStreamHandler
      Role: !GetAtt MembershipJobStreamLambdaRole.Arn
      Timeout: 60
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeS3Bucket
        S3Key: !Ref LambdaCodeS3Key
      Environment:
        Variables:
          VERIFICATION_JOBS_TABLE_NAME: !Ref VerificationJobsTable
          RUNNER_STATE_MACHINE_ARN: !Ref MembershipRunnerStateMachine

  MembershipJobStreamEventSourceMapping:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      EventSourceArn: !GetAtt VerificationJobsTable.StreamArn
      FunctionName: !Ref MembershipJobStreamLambda
      StartingPosition: LATEST
      MaximumBatchingWindowInSeconds: 1
      BisectBatchOnFunctionError: true
      MaximumRetryAttempts: 5
      MaximumRecordAgeInSeconds: 3600
      DestinationConfig:
        OnFailure:
          Destination: !GetAtt MembershipJobStreamDlq.Arn
      FilterCriteria:
        Filters:
          - Pattern: '{"eventName":["INSERT","MODIFY"],"dynamodb":{"NewImage":{"status":{"S":["queued","retry"]}}}}'

Outputs:
  EventsTableName:
    Value: !Ref EventsTable
  VerificationJobsTableName:
    Value: !Ref VerificationJobsTable
  RunnerLeaseTableName:
    Value: !Ref RunnerLeaseTable
  RunnerResultBucketName:
    Value: !Ref RunnerResultBucket
  RunnerLogGroupName:
    Value: !Ref RunnerLogGroup
  DeployedGitCommitSha:
    Value: !Ref GitCommitSha
  LambdaCodeS3KeyOutput:
    Value: !Ref LambdaCodeS3Key
  TeeArtifactS3KeyOutput:
    Value: !Ref TeeArtifactS3Key
  TeeArtifactSha256Output:
    Value: !Ref TeeArtifactSha256
  EarthquakeTeeEifS3KeyOutput:
    Value: !Ref EarthquakeTeeEifS3Key
  EarthquakeTeeEifSha256Output:
    Value: !Ref EarthquakeTeeEifSha256
  MembershipTeeArtifactS3KeyOutput:
    Value: !Ref MembershipTeeArtifactS3Key
  MembershipTeeArtifactSha256Output:
    Value: !Ref MembershipTeeArtifactSha256
  TeeEifS3KeyOutput:
    Value: !Ref TeeEifS3Key
  TeeEifSha256Output:
    Value: !Ref TeeEifSha256
  EarthquakeRunnerStateMachineArn:
    Value: !Ref EarthquakeRunnerStateMachine
  MembershipRunnerStateMachineArn:
    Value: !Ref MembershipRunnerStateMachine
  RunnerAutoScalingGroupName:
    Value: !Ref RunnerAutoScalingGroup
  RunnerLaunchTemplateId:
    Value: !Ref RunnerLaunchTemplate
  RunnerRoleArn:
    Value: !GetAtt RunnerRole.Arn
  WatcherScheduleName:
    Value: !Ref WatcherSchedule
  BatchScheduleName:
    Value: !Ref BatchSchedule
  WatcherLambdaName:
    Value: !Ref WatcherLambda
  ManualWatcherLambdaName:
    Value: !Ref ManualWatcherLambda
  SubmitVerificationLambdaName:
    Value: !Ref SubmitVerificationLambda
  SubmitVerificationFunctionUrlOutput:
    Value: !GetAtt SubmitVerificationFunctionUrl.FunctionUrl
  IdentityStatusLambdaName:
    Value: !Ref IdentityStatusLambda
  IdentityStatusFunctionUrlOutput:
    Value: !GetAtt IdentityStatusFunctionUrl.FunctionUrl
  BatchVerifierLambdaName:
    Value: !Ref BatchVerifierLambda
  MembershipJobStreamLambdaName:
    Value: !Ref MembershipJobStreamLambda
  MembershipJobStreamDlqUrl:
    Value: !Ref MembershipJobStreamDlq
  RunnerControlLambdaName:
    Value: !Ref RunnerControlLambda
  SourceArchiverLambdaName:
    Condition: HasSourceArchiverConfig
    Value: !Ref SourceArchiverLambda
  SourceArchiverFunctionUrlOutput:
    Condition: HasSourceArchiverConfig
    Value: !GetAtt SourceArchiverFunctionUrl.FunctionUrl
  SigningMaterialKmsKeyId:
    Value: !Ref SigningMaterialKmsKey
